@import url(https://fonts.googleapis.com/css?family=Outfit:regular,500,6000&display=swap);
:root {
  --primary-font: "Outfit";
  --white: white;
  --primary-text: #343434;
  --brand-secondary: #da3c3c;
  --yellow: #f6b644;
  --dark: #070707;
  --gray-dark: #222222;
  --bg-dark-gray: #e4e4e4;
  --bg-light-gray: #f9f9f9;
  --bg-light-white: #f8f8f8;
  --hoverButton: #f6b644
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: var(--primary-text);
  line-height: 1.4;
  font-family: var(--primary-font);
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button {
  font-family: var(--primary-font);
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
button {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 86.375rem;
  margin: 0 auto;
  padding: 0 1.5rem
}
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white);
  line-height: 1.2;
  background-color: var(--brand-secondary);
  border-radius: 1.6875rem;
  font-size: 1rem;
  padding: .75rem 2.5rem;
  transition: all .3s;
  font-weight: 500
}
.button_transparent {
  background-color: transparent;
  border: .0625rem solid var(--secondary-text)
}
.ibg {
  position: relative
}
.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg_contain img {
  -o-object-fit: contain;
  object-fit: contain
}
._img-scale {
  overflow: hidden;
  will-change: transform
}
._img-scale img {
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s,-webkit-transform 1s
}
.page__about:not(:last-child) {
  margin-bottom: 13.375rem
}
.page__action:not(:last-child) {
  margin-bottom: 11rem
}
.page__transition:not(:last-child) {
  margin-bottom: 11rem
}
.page__blog:not(:last-child) {
  margin-bottom: 7.1875rem
}
.title {
  color: var(--dark);
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: -.0625rem
}
.title_big {
  letter-spacing: -.08125rem;
  font-size: 4rem;
  text-shadow: 0 .25rem .25rem rgba(0,0,0,.25);
  font-weight: 600;
  line-height: 1.3;
  color: var(--yellow)
}
.title_small {
  font-size: 2rem
}
.text p:not(:last-child) {
  margin-bottom: .625rem
}
.hero {
  position: relative
}
.hero__container {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.875rem;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem
}
.hero__description {
  font-size: 2rem;
  line-height: 1.5;
  color: var(--white)
}
.hero__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0
}
.hero__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover
}
.hero__image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
  z-index: 2
}
.about {
  position: relative;
  z-index: 3
}
.about__content {
  color: var(--dark);
  font-size: 1.5rem;
  line-height: 150%;
  text-align: center;
  background-color: var(--white);
  padding: 3.75rem 3.125rem
}
.about__content p:not(:last-child) {
  margin-bottom: .625rem
}
.action__title {
  text-align: center
}
.action__title:not(:last-child) {
  margin-bottom: 3.125rem
}
.action__cards {
  display: grid;
  gap: 2.875rem
}
.card-action {
  padding: 2.5rem;
  background-color: var(--bg-dark-gray);
  display: flex;
  align-items: center;
  gap: 2.5rem;
  position: relative
}
.card-action__title:not(:last-child) {
  margin-bottom: 1.4375rem
}
.card-action__text {
  line-height: 1.4
}
.card-action__arrow {
  flex: 0 0 3.75rem;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  background-color: var(--brand-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .3s
}
.card-action__arrow svg {
  width: 1.5rem;
  height: 1.5rem
}
.transition__container {
  display: grid;
  align-items: center;
  gap: 3.125rem
}
.transition__content {
  display: grid;
  gap: 1.875rem
}
.transition__text {
  font-size: 1.5rem;
  line-height: 1.5
}
.transition__images-wrapper {
  position: relative;
  margin-left: auto
}
.transition__image_big {
  padding-bottom: 66.392354%;
  position: relative
}
.transition__image_big::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 3.3125rem;
  border: .125rem solid var(--brand-secondary)
}
.transition__image_small {
  position: absolute;
  bottom: 0;
  width: 74%;
  padding-bottom: 41.072289%;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  border: .625rem solid #fff
}
.blog__title {
  text-align: center
}
.blog__title:not(:last-child) {
  margin-bottom: 3.125rem
}
.blog__list {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1.5rem
}
.item-blog {
  display: flex;
  flex-direction: column
}
.item-blog__image {
  display: block;
  padding-bottom: 64.1826923077%
}
.item-blog__content {
  background-color: var(--bg-light-gray);
  padding: 2rem;
  flex: 1 1 auto
}
.item-blog__title {
  transition: color .3s
}
.item-blog__title:not(:last-child) {
  margin-bottom: 1.5rem
}
.first-step {
  position: relative;
  background-color: var(--bg-light-white)
}
.first-step__container {
  display: flex;
  flex-direction: column;
  justify-content: center
}
.first-step__content {
  display: grid;
  gap: 1.875rem;
  padding-bottom: 1.875rem;
  position: relative;
  z-index: 4
}
.first-step__title.title {
  color: var(--yellow)
}
.first-step__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0
}
.first-step__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top
}
.first-step__image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(270deg,rgba(244,249,252,0) 5.22%,#f4f9fc 59.86%);
  pointer-events: none;
  z-index: 3
}
@media (min-width:29.99875em) {
  .hero__container {
    min-height: 100vh
  }
}
@media (min-width:47.99875em) {
  .page__about {
    margin-top: -7.125rem
  }
  .about__content {
    box-shadow: 0 .25rem 2.5rem 0 rgba(34,34,34,.05)
  }
  .item-blog__title_br {
    max-width: 19.75rem
  }
  .first-step__container {
    min-height: 47.5rem
  }
  .first-step__content {
    max-width: 31.25rem;
    padding-top: 1.875rem
  }
  .first-step__button {
    margin-right: auto
  }
  .first-step__image-mobile {
    display: none
  }
}
@media (min-width:61.99875em) {
  .action__cards {
    padding-right: 1.4375rem;
    grid-template-columns: repeat(2,1fr)
  }
  .card-action::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 1.4375rem;
    left: 1.4375rem;
    border: .125rem solid var(--brand-secondary);
    z-index: -1
  }
  .transition {
    background-color: var(--bg-light-gray);
    padding: 6.34375rem 0 10rem 0
  }
  .transition__container {
    grid-template-columns: repeat(2,1fr)
  }
  .transition__text {
    max-width: 37.8125rem
  }
  .transition__button {
    margin-right: auto
  }
  .transition__images-wrapper {
    max-width: 30.8125rem
  }
}
@media (min-width:86.375em) {
  .transition__image_big::before {
    right: 5.1875rem
  }
  .transition__image_small {
    left: -10.4375rem
  }
}
@media (max-width:81.25em) {
  .item-blog__title.title_small {
    font-size: 1.5rem
  }
}
@media (max-width:61.99875em) {
  .page__about:not(:last-child) {
    margin-bottom: 3.75rem
  }
  .page__action:not(:last-child) {
    margin-bottom: 3.75rem
  }
  .title {
    font-size: 2.5rem
  }
  .action__cards {
    gap: 1.875rem
  }
  .transition {
    text-align: center
  }
  .transition__content {
    align-items: center;
    justify-items: center
  }
  .transition__image_big::before {
    top: 1.875rem
  }
  .transition__image_big {
    width: 86%;
    padding-bottom: 58.392354%;
    margin-left: auto
  }
  .transition__image_small {
    width: 52%;
    padding-bottom: 35.072289%;
    border-width: .375rem;
    left: 0
  }
  .blog__list {
    grid-template-columns: repeat(2,1fr)
  }
  .item-blog__content {
    padding: 1.5625rem
  }
  .first-step__image img {
    -o-object-position: 62%;
    object-position: 62%
  }
}
@media (max-width:61.99875em) and (max-width:20em) {
  .page__transition:not(:last-child) {
    margin-bottom: 6.25rem
  }
}
@media (max-width:61.9375em) {
  .transition__image_big::before {
    right: 1.875rem
  }
  .transition__image_small {
    left: .625rem
  }
}
@media (max-width:47.99875em) {
  .page__about {
    box-shadow: 0 .25rem 2.5rem 0 rgba(34,34,34,.05)
  }
  .page__blog:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .title_big {
    font-size: 2.8125rem
  }
  .hero__container {
    gap: .75rem
  }
  .hero__description {
    font-size: 1.5625rem
  }
  .about__content {
    padding: 1.5rem 0
  }
  .action__title:not(:last-child) {
    margin-bottom: 1.5rem
  }
  .card-action {
    padding: 1.5625rem
  }
  .card-action__title:not(:last-child) {
    margin-bottom: .75rem
  }
  .transition__container {
    gap: 1.5rem
  }
  .transition__content {
    gap: 1.25rem
  }
  .blog__title:not(:last-child) {
    margin-bottom: 1.5rem
  }
  .blog__list {
    grid-template-columns: repeat(1,1fr)
  }
  .item-blog__content {
    text-align: center
  }
  .first-step__container {
    justify-content: end;
    flex-direction: column-reverse
  }
  .first-step__content {
    justify-items: center;
    text-align: center;
    gap: 1.25rem
  }
  .first-step__image-mobile {
    margin: 0 -1.875rem;
    position: relative
  }
  .first-step__image-mobile::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(0deg,#f8f8f8 2.59%,rgba(248,248,248,.5) 24.02%,rgba(248,248,248,0) 100%)
  }
  .first-step__image-mobile img {
    width: 100%
  }
  .first-step__image {
    display: none
  }
}
@media (max-width:29.99875em) {
  .button {
    font-size: .75rem
  }
  .button {
    padding: .4375rem .9375rem
  }
  .title {
    font-size: 1.5rem
  }
  .title_big {
    font-size: 2rem
  }
  .title_small {
    font-size: 1.25rem;
    line-height: 1.3
  }
  .hero__container {
    min-height: 17.6875rem
  }
  .hero__description {
    font-size: .75rem
  }
  .about__content {
    font-size: 1rem;
    line-height: 1.3
  }
  .action__cards {
    gap: 1rem
  }
  .card-action {
    padding: 1rem;
    gap: 1.5625rem
  }
  .card-action__text {
    font-size: .875rem;
    line-height: 1.2
  }
  .card-action__arrow svg {
    width: 1rem;
    height: 1rem
  }
  .card-action__arrow {
    flex: 0 0 2.5rem;
    width: 2.5rem;
    height: 2.5rem
  }
  .transition__text {
    font-size: 1rem
  }
  .item-blog__content {
    padding: 1rem
  }
  .item-blog__title.title {
    font-size: 1.25rem
  }
  .item-blog__title:not(:last-child) {
    margin-bottom: .75rem
  }
  .item-blog__text {
    font-size: .875rem
  }
  .first-step__title.title {
    font-size: 2rem
  }
  .first-step__label.title {
    font-size: 1.125rem
  }
  .first-step__button.button {
    padding: .75rem 1.5rem
  }
}
@media (max-width:61.99875em) and (min-width:61.99875em) {
  .page__transition:not(:last-child) {
    margin-bottom: 15.625rem
  }
}
@media (max-width:61.99875em) and (min-width:20em) and (max-width:61.99875em) {
  @supports (margin-bottom:clamp(6.25rem ,1.7855814161rem + 22.3220929194vw ,15.625rem)) {
    .page__transition:not(:last-child) {
      margin-bottom: clamp(6.25rem ,1.7855814161rem + 22.3220929194vw ,15.625rem)
    }
  }
  @supports not (margin-bottom:clamp(6.25rem ,1.7855814161rem + 22.3220929194vw ,15.625rem)) {
    .page__transition:not(:last-child) {
      margin-bottom: calc(6.25rem + 9.375 * (100vw - 20rem)/ 41.99875)
    }
  }
}
@media (min-width:61.9375em) and (max-width:86.375em) {
  @supports (right:clamp(1.875rem ,-6.5206202046rem + 13.5549872123vw ,5.1875rem)) {
    .transition__image_big::before {
      right: clamp(1.875rem ,-6.5206202046rem + 13.5549872123vw ,5.1875rem)
    }
  }
  @supports not (right:clamp(1.875rem ,-6.5206202046rem + 13.5549872123vw ,5.1875rem)) {
    .transition__image_big::before {
      right: calc(1.875rem + 3.3125 * (100vw - 61.9375rem)/ 24.4375)
    }
  }
  @supports (left:clamp(-10.4375rem ,28.6632033248rem + -45.2685421995vw ,0.625rem)) {
    .transition__image_small {
      left: clamp(-10.4375rem ,28.6632033248rem + -45.2685421995vw ,.625rem)
    }
  }
  @supports not (left:clamp(-10.4375rem ,28.6632033248rem + -45.2685421995vw ,0.625rem)) {
    .transition__image_small {
      left: calc(.625rem + -11.0625 * (100vw - 61.9375rem)/ 24.4375)
    }
  }
}
@media (any-hover:hover) {
  .button:hover {
    background-color: var(--hoverButton)
  }
  .button_transparent:hover {
    border: .0625rem solid var(--hoverButton)
  }
  ._img-scale:hover img {
    -webkit-transform: scale(1.005);
    transform: scale(1.005)
  }
  .card-action__arrow:hover {
    background-color: var(--hoverButton)
  }
  .item-blog__title:hover {
    color: var(--brand-secondary)
  }
}