@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Fredoka:regular&display=swap);
@font-face {
  font-family: Brittany;
  font-display: swap;
  src: url(../fonts/Brittany-Signature.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
:root {
  --primary-font: "Open Sans";
  --secondary-font: "Fredoka";
  --brand-color: #1cbec9;
  --brand-color-gradient: linear-gradient(90deg, #1cbec9 9.85%, rgba(28, 190, 201, 0.29) 100%);
  --brand-decor-gradient: linear-gradient(135deg, #37b1c9, #4bd0d6);
  --brand-bg-color-light: rgba(28, 190, 201, 0.35);
  --secondary-color: #bae95c;
  --secondary-color-gradient: linear-gradient(270deg, #bae95c 39.43%, #698334 143.23%);
  --gray-color: #4d4d4d;
  --gray-color-200: #989898;
  --gray-color-300: #d9d9d9;
  --black-color: #000;
  --dark-color: #222020;
  --white-color: #ffff;
  --white-bg-light-icolor: #f3f3f3;
  --hover-color: #0a8992;
  --hoverButton: linear-gradient(270deg, #92cc1f 39.43%, #779f26 143.23%)
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  line-height: 1.4;
  font-family: var(--primary-font);
  color: var(--black-color);
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button {
  font-family: var(--primary-font);
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1.25rem
}
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--secondary-color-gradient);
  border-radius: .75rem;
  overflow: hidden;
  color: var(--dark-color);
  transition: background-color .3s;
  padding: 1.625rem 2.6875rem;
  position: relative
}
.button span {
  position: relative;
  z-index: 2;
  font-weight: 600;
  font-size: 1.5rem
}
.button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: inherit;
  background: var(--hoverButton);
  opacity: 0;
  transition: opacity .3s
}
.button_big {
  padding: 1.625rem 4.0625rem
}
.spollers__column {
  display: flex;
  flex-direction: column;
  flex: 0 0 49.1%;
  gap: 1.25rem
}
.spollers__item {
  line-height: 1.25
}
.spollers__title {
  font-size: 1.25rem;
  padding: 1.5rem 1.25rem 1.5rem 1.5625rem;
  width: 100%;
  font-weight: 600;
  cursor: pointer;
  text-align: left;
  position: relative;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .625rem;
  border-radius: .75rem;
  color: var(--white-color);
  background-color: var(--brand-color);
  transition: background-color .3s
}
.spollers__title::-webkit-details-marker,
.spollers__title::marker {
  display: none
}
.spollers__title._spoller-active {
  background-color: var(--brand-color)
}
.spollers__title._spoller-active .spollers__check::before {
  -webkit-transform: scale(1);
  transform: scale(1)
}
.spollers__body {
  color: var(--gray-color-200);
  padding: .625rem .625rem 1.25rem 1.5625rem;
  background-color: var(--white-bg-light-color);
  border-radius: .75rem
}
.spollers__check {
  flex: 0 0 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: .125rem solid var(--white-color)
}
.spollers__check::before {
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: var(--white-color);
  border-radius: 50%;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.ibg {
  position: relative
}
.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover
}
.page__hero:not(:last-child) {
  margin-bottom: 7.5rem
}
.page__for-you:not(:last-child) {
  margin-bottom: 6.0625rem
}
.page__care:not(:last-child) {
  margin-bottom: 5.9375rem
}
.page__treatment-programs:not(:last-child) {
  margin-bottom: 5.9375rem
}
.page__our-approach:not(:last-child) {
  margin-bottom: 5.9375rem
}
.page__faq:not(:last-child) {
  margin-bottom: 1.875rem
}
.page__testimonials:not(:last-child) {
  margin-bottom: 1.375rem
}
.text p:not(:last-child) {
  margin-bottom: .625rem
}
.heading {
  line-height: 1.2
}
.heading__title {
  color: #000;
  font-family: var(--secondary-font)
}
.heading__title:not(:last-child) {
  margin-bottom: .625rem
}
.heading .title_decor {
  display: flex;
  gap: 1.25rem
}
.heading .title_decor::before {
  content: "";
  flex: 0 0 2.5em;
  background-color: var(--secondary-color)
}
.heading__text {
  color: var(--gray);
  font-size: 1.25rem
}
.heading_white {
  color: var(--white-color)
}
.heading_white .heading__text.title,
.heading_white .heading__title.title {
  color: var(--white-color)
}
.heading_decor {
  display: flex;
  gap: 1.25rem
}
.heading_decor::before {
  content: "";
  position: relative;
  flex: 0 0 5.9375rem;
  background-color: var(--secondary-color)
}
.triangle {
  width: 0;
  height: 0;
  border-top: 14.4375rem solid transparent;
  border-left: 14.4375rem solid transparent;
  background: var(--brand-decor-gradient);
  pointer-events: none
}
.triangle::before {
  content: "";
  position: absolute;
  top: -10%;
  left: 0;
  width: 14.4375rem;
  height: 14.4375rem;
  background: inherit;
  clip-path: polygon(100% 0,0 100%,100% 100%);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}
._hover-link {
  line-height: 1.2;
  font-size: .95625rem;
  position: relative
}
._hover-link::after {
  content: "";
  position: absolute;
  bottom: -.1875rem;
  left: 0;
  display: block;
  width: 100%;
  background-color: currentColor;
  height: .0625rem;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
._hover-link:hover::after {
  -webkit-transform: scale(1);
  transform: scale(1)
}
._section-margin {
  margin-bottom: 6.25rem
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .9375rem
}
.pagination .swiper-pagination-bullet {
  flex: 0 0 .625rem;
  width: .625rem;
  height: .625rem;
  border-radius: 50%;
  background-color: var(--gray-color-200);
  transition: background-color .3s;
  cursor: pointer
}
.pagination .swiper-pagination-bullet-active {
  background-color: var(--brand-color)
}
.footer {
  padding: 1.25rem 0;
  background-color: var(--brand-color)
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center
}
.footer__copy {
  color: var(--white-color);
  font-size: 1.125rem;
  line-height: 1.3;
  letter-spacing: .01125rem
}
.hero {
  position: relative;
  display: grid
}
.hero__container {
  display: flex;
  width: 100%
}
.hero__content {
  position: relative;
  z-index: 5
}
.hero__media {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr .6fr
}
.hero__image-wrapper {
  position: relative
}
.hero__image {
  position: relative;
  overflow: hidden;
  padding-bottom: 5%;
  clip-path: polygon(38% 0,100% 0,100% 100%,0 100%,0 49%)
}
.hero__img {
  overflow: hidden;
  padding-bottom: 89%;
  position: relative
}
.hero__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 40%;
  object-position: 40%
}
.hero__img::before {
  content: "";
  position: absolute;
  background: #fff;
  z-index: 5;
  clip-path: polygon(100% 0,100% 7%,7% 100%,0 100%);
  bottom: -.0625rem;
  left: 0;
  width: 100%;
  height: 100%
}
.decor-hero {
  position: absolute;
  top: 0;
  right: 0;
  width: 82%;
  height: 100%;
  -webkit-transform: translateX(-73%);
  transform: translateX(-73%);
  overflow: hidden
}
.decor-hero::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: #bbea5d;
  clip-path: polygon(15% 85%,0 100%,15% 100%)
}
.decor-hero__center {
  position: absolute;
  top: 0;
  right: 0;
  width: 85%;
  bottom: 15%;
  overflow: hidden
}
.decor-hero__center::before {
  content: "";
  position: absolute;
  background: #1cbec9;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(60% 0,100% 0,0 100%,0 60%)
}
.for-you__container {
  display: grid;
  gap: 1.875rem
}
.for-you__content.heading .heading__title:not(:last-child) {
  margin-bottom: 3.3125rem
}
.for-you__content.heading .heading__text {
  line-height: 1.6
}
.for-you__content.heading .heading__text:not(:last-child) {
  margin-bottom: 5rem
}
.for-you__image {
  border-radius: 1.25rem;
  overflow: hidden;
  padding-bottom: 77.5939849624%
}
.care__heading {
  max-width: 50rem
}
.care__heading.heading .heading__title:not(:last-child) {
  margin-bottom: .3125rem
}
.care__heading:not(:last-child) {
  margin-bottom: 1.5625rem
}
.care__items {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1.25rem
}
.card-care {
  box-shadow: .1875rem .1875rem .625rem .0625rem rgba(0,0,0,.16)
}
.card-care__image {
  display: block;
  padding-bottom: 90.9433962264%;
  position: relative
}
.card-care__image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--brand-bg-color-light);
  z-index: 2;
  opacity: 0;
  transition: opacity .3s
}
.card-care__content {
  padding: .8125rem .8125rem 1.0625rem .8125rem;
  background-color: var(--white-color);
  text-align: center;
  line-height: 1.3;
  transition: background-color .3s
}
.card-care__title {
  font-family: var(--secondary-font);
  font-size: 1.625rem
}
.card-care__title a {
  transition: color .3s
}
.card-care__title:not(:last-child) {
  margin-bottom: .5rem
}
.card-care__text {
  transition: color .3s;
  color: var(--gray-color)
}
.treatment-programs {
  padding: 1.875rem 0;
  position: relative
}
.treatment-programs__container {
  display: grid;
  gap: 2.375rem;
  position: relative;
  z-index: 2
}
.treatment-programs__list {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1.25rem
}
.treatment-programs__button {
  justify-self: center
}
.treatment-programs__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -1;
  -o-object-position: top;
  object-position: top
}
.item-program {
  background-color: var(--white-color);
  border-radius: .75rem;
  padding: 1.4375rem .625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center
}
.item-program__icon {
  width: 3.125rem;
  height: 3.125rem
}
.item-program__icon:not(:last-child) {
  margin-bottom: .9375rem
}
.item-program__title {
  font-family: var(--secondary-font)
}
.item-program__title:not(:last-child) {
  margin-bottom: .5rem
}
.item-program__text {
  color: var(--gray-color);
  max-width: 12.5rem
}
.our-approach__container {
  display: grid;
  gap: 4.375rem
}
.our-approach__body {
  display: grid;
  align-items: center;
  gap: 2.375rem
}
.our-approach__title {
  text-align: center
}
.our-approach__image {
  height: 100%
}
.our-approach__button {
  margin-right: auto
}
.item-our-approach {
  display: flex;
  min-height: 5.1875rem;
  gap: 1.5625rem
}
.item-our-approach:not(:last-child) {
  margin-bottom: 1.5625rem
}
.item-our-approach__icon {
  background-color: var(--brand-color);
  width: 5.6875rem;
  height: 5.1875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 5.6875rem;
  border-radius: .875rem
}
.item-our-approach__icon img {
  width: 3.125rem;
  height: 3.125rem
}
.item-our-approach__title {
  align-self: center
}
.faq__heading:not(:last-child) {
  margin-bottom: 3.3125rem
}
.faq__spollers {
  display: flex;
  gap: 1.25rem
}
.testimonials__container {
  display: grid
}
.testimonials__content {
  min-width: 0
}
.testimonials__heading.heading .heading__text {
  font-family: var(--secondary-font)
}
.testimonials__slider {
  padding: 1.25rem;
  margin: -1.25rem
}
.testimonials__pagination {
  margin-top: 1.875rem
}
.testimonials__image {
  padding-bottom: 149.7787610619%
}
.testimonials__image::after,
.testimonials__image::before {
  content: "";
  position: absolute;
  background-color: var(--white-color);
  clip-path: polygon(100% 0,0 100%,0 0);
  z-index: 2
}
.testimonials__image::before {
  top: -.0625rem;
  left: -.0625rem;
  width: 24.1150442478%;
  height: 14.4756277696%
}
.testimonials__image::after {
  bottom: -.0625rem;
  right: -.0625rem;
  width: 40.2654867257%;
  height: 25.9970457903%;
  clip-path: polygon(100% 0,0 100%,100% 100%)
}
.slide-testimonial {
  padding: 2.625rem 2.8125rem 1.3125rem 2.8125rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.125rem;
  box-shadow: 0 0 .25rem .125rem rgba(0,0,0,.15);
  background-color: var(--white-color)
}
.slide-testimonial__quote {
  font-weight: 600;
  line-height: 1.3;
  color: var(--gray-color-200)
}
.slide-testimonial__quote:not(:last-child) {
  margin-bottom: 1.875rem
}
.profile {
  display: flex;
  align-items: center;
  gap: 1.25rem
}
.profile__avatar {
  flex: 0 0 4.625rem;
  width: 4.625rem;
  height: 4.625rem;
  border-radius: 50%;
  overflow: hidden
}
.profile__name {
  font-weight: 600;
  font-size: 1.125rem
}
.contacts {
  position: relative
}
.contacts::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--brand-color-gradient);
  z-index: 1
}
.contacts__container {
  padding-top: 6.75rem;
  padding-bottom: 1.625rem;
  position: relative;
  z-index: 2
}
.contacts__content {
  max-width: 38.5rem
}
.contacts__content.heading .heading__title:not(:last-child) {
  margin-bottom: 3.875rem
}
.contacts__content.heading .heading__title.title {
  font-size: 2.375rem
}
.contacts__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -1
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:29.99875em) {
  .treatment-programs::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--brand-color-gradient)
  }
  .treatment-programs__header.heading {
    text-align: center
  }
  .treatment-programs__header.heading .heading__text,
  .treatment-programs__header.heading .heading__title {
    color: var(--white-color)
  }
}
@media (min-width:47.99875em) {
  .spollers__body p {
    max-width: 26.6875rem
  }
  .heading .title_decor {
    align-items: center
  }
  .heading .title_decor::before {
    height: .3125rem;
    width: 1.4444444444em
  }
  .heading_decor::before {
    top: 1.40625rem;
    height: .3125rem
  }
  .hero {
    padding-top: 3.125rem;
    grid-template-columns: 1fr
  }
  .hero > * {
    grid-column: 1/-1;
    grid-row: 1/-1
  }
  .hero__content {
    padding: 2.625rem 0
  }
  .hero__image-wrapper {
    grid-column: 2/3
  }
  .for-you__container {
    grid-template-columns: repeat(2,1fr)
  }
  .for-you__content.heading .heading__text {
    max-width: 20rem
  }
  .our-approach__body {
    grid-template-columns: 50% 1fr
  }
  .faq__heading {
    text-align: center
  }
  .faq__spollers {
    align-items: start
  }
  .testimonials__container {
    grid-template-columns: 1fr 39%;
    align-items: center
  }
}
@media (min-width:47.99875em) and (min-width:75em) {
  .hero__content {
    max-width: 46.3125rem
  }
  .hero__content.heading .heading__text {
    max-width: 30.625rem
  }
}
@media (min-width:61.99875em) {
  .for-you__content.heading .heading__button.button {
    padding: 1.625rem 2.8125rem
  }
}
@media (min-width:75em) {
  .heading__title {
    font-size: 2.375rem
  }
  .heading .title_big {
    font-size: 3.125rem
  }
  .hero__content.heading .heading__text:not(:last-child) {
    margin-bottom: 4.0625rem
  }
  .item-program__title {
    font-size: 1.5rem
  }
  .item-our-approach__title {
    font-size: 1.625rem
  }
  .testimonials__container {
    -webkit-column-gap: 6.25rem;
    -moz-column-gap: 6.25rem;
    column-gap: 6.25rem
  }
  .testimonials__heading.heading .heading__text {
    font-size: 1.875rem
  }
  .testimonials__heading:not(:last-child) {
    margin-bottom: 2.875rem
  }
}
@media (max-width:20em) {
  .heading__title {
    font-size: 1.625rem
  }
  .heading .title_big {
    font-size: 1.625rem
  }
  .testimonials__heading.heading .heading__text {
    font-size: 1.375rem
  }
}
@media (max-width:68.75em) {
  .treatment-programs__bg {
    -o-object-position: left;
    object-position: left
  }
}
@media (max-width:61.99875em) {
  .page__hero:not(:last-child) {
    margin-bottom: 3.75rem
  }
  .for-you__container {
    gap: 1.25rem
  }
  .care__items {
    grid-template-columns: repeat(2,1fr)
  }
  .treatment-programs__list {
    grid-template-columns: repeat(2,1fr)
  }
  .our-approach__container {
    gap: 3.125rem
  }
}
@media (max-width:61.9375em) {
  .item-program__title {
    font-size: 1.25rem
  }
}
@media (max-width:61.99875em) and (max-width:37.5em) {
  .item-program__title {
    font-size: 1.25rem
  }
}
@media (max-width:47.99875em) {
  .spollers__title {
    padding: 1rem 1.25rem 1rem 1rem
  }
  .spollers__body {
    padding: .625rem 1.125rem .9375rem 1rem
  }
  .page__care:not(:last-child) {
    margin-bottom: 3.375rem
  }
  .page__treatment-programs:not(:last-child) {
    margin-bottom: 3.375rem
  }
  .page__our-approach:not(:last-child) {
    margin-bottom: 3.375rem
  }
  .page__faq:not(:last-child) {
    margin-bottom: 3.375rem
  }
  .page__testimonials:not(:last-child) {
    margin-bottom: 3.375rem
  }
  .heading .title_decor {
    gap: .625rem
  }
  .heading .title_decor::before {
    flex: 0 0 .25rem
  }
  .heading_decor {
    gap: .625rem
  }
  .heading_decor::before {
    flex: 0 0 .25rem
  }
  .triangle {
    display: none
  }
  ._section-margin {
    margin-bottom: 2.375rem
  }
  .footer__copy {
    font-size: .875rem
  }
  .hero {
    grid-template-columns: auto
  }
  .hero__container {
    order: 2
  }
  .hero__content.heading .heading__text:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .hero__media {
    order: 1;
    grid-template-columns: 1fr;
    -webkit-transform: translateX(3%);
    transform: translateX(3%)
  }
  .for-you__container {
    gap: .625rem
  }
  .for-you__content {
    order: 2
  }
  .for-you__content.heading .heading__title:not(:last-child) {
    margin-bottom: .3125rem
  }
  .for-you__content.heading .heading__text:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .for-you__image {
    order: 1
  }
  .care__heading.heading .heading__text {
    display: none
  }
  .our-approach__container {
    gap: 1.125rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem
  }
  .our-approach__body {
    row-gap: 1.0625rem
  }
  .our-approach__body:not(:last-child) {
    margin-bottom: .625rem
  }
  .our-approach__image {
    padding-bottom: 100%
  }
  .item-our-approach__title {
    font-size: 1.125rem
  }
  .faq__heading:not(:last-child) {
    margin-bottom: 1.75rem
  }
  .faq__spollers {
    flex-direction: column
  }
  .testimonials__container {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
  .testimonials__heading.heading .heading__text {
    padding-left: 1.25rem
  }
  .testimonials__heading.heading .heading__title {
    align-items: stretch
  }
  .testimonials__heading:not(:last-child) {
    margin-bottom: 1.8125rem
  }
  .testimonials__image {
    display: none
  }
  .contacts__container {
    padding-top: 3.75rem;
    padding-bottom: 2.9375rem
  }
}
@media (max-width:37.5em) {
  .care__items {
    grid-template-columns: auto
  }
}
@media (max-width:31.25em) {
  .treatment-programs__list {
    gap: 2.1875rem;
    grid-template-columns: auto
  }
  .item-program__title {
    font-size: 1.5rem
  }
}
@media (max-width:29.99875em) {
  .button span {
    font-size: 1rem
  }
  .button {
    padding: .75rem 1.6875rem
  }
  .button_big span {
    font-size: 1.5rem
  }
  .button {
    padding-top: .9375rem;
    padding-bottom: .9375rem;
    font-size: 1rem
  }
  .spollers__column {
    gap: .625rem
  }
  .spollers__title {
    font-size: .875rem;
    gap: 1.875rem
  }
  .spollers__body p {
    font-size: .75rem
  }
  .page__hero:not(:last-child) {
    margin-bottom: 2.75rem
  }
  .page__for-you:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .heading__text {
    font-size: 1rem
  }
  .pagination {
    gap: .5rem
  }
  .footer {
    padding: .8125rem 0
  }
  .for-you__content.heading .heading__text {
    line-height: 1.4
  }
  .treatment-programs__container {
    gap: 1.875rem
  }
  .treatment-programs__button {
    width: 65%
  }
  .treatment-programs__button.button {
    text-align: left;
    padding-top: .625rem;
    padding-bottom: .625rem
  }
  .treatment-programs__bg {
    display: none
  }
  .item-program {
    box-shadow: 0 0 .125rem .125rem rgba(0,0,0,.15)
  }
  .item-our-approach {
    min-height: 2.6875rem;
    gap: .75rem
  }
  .item-our-approach:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .item-our-approach__icon img {
    width: 1.75rem;
    height: 1.75rem
  }
  .item-our-approach__icon {
    width: 3rem;
    flex: 0 0 3rem;
    height: 3rem
  }
  .item-our-approach__title {
    font-size: .875rem
  }
  .faq__spollers {
    gap: .625rem
  }
  .testimonials__pagination {
    margin-top: .9375rem
  }
  .slide-testimonial {
    padding: 2.9375rem 1.875rem 2.3125rem 1.875rem
  }
  .slide-testimonial__quote {
    font-size: .875rem
  }
  .profile {
    gap: .5rem
  }
  .profile__avatar {
    flex: 0 0 3.5rem;
    width: 3.5rem;
    height: 3.5rem
  }
  .profile__name {
    font-size: 1rem
  }
  .contacts::before {
    background: linear-gradient(90deg,#1cbec9 25.47%,rgba(28,190,201,.22) 108.28%)
  }
  .contacts__content {
    max-width: 13.5625rem
  }
  .contacts__content.heading .heading__title:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .contacts__content.heading .heading__title.title {
    font-size: 1.625rem
  }
  .contacts__content.heading .heading__button.button {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem
  }
  .contacts__bg {
    -o-object-position: bottom;
    object-position: bottom
  }
}
@media (min-width:20em) and (max-width:75em) {
  @supports (font-size:clamp(1.625rem ,1.3522727273rem + 1.3636363636vw ,2.375rem)) {
    .heading__title {
      font-size: clamp(1.625rem ,1.3522727273rem + 1.3636363636vw ,2.375rem)
    }
  }
  @supports not (font-size:clamp(1.625rem ,1.3522727273rem + 1.3636363636vw ,2.375rem)) {
    .heading__title {
      font-size: calc(1.625rem + .75 * (100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(1.625rem ,1.0795454545rem + 2.7272727273vw ,3.125rem)) {
    .heading .title_big {
      font-size: clamp(1.625rem ,1.0795454545rem + 2.7272727273vw ,3.125rem)
    }
  }
  @supports not (font-size:clamp(1.625rem ,1.0795454545rem + 2.7272727273vw ,3.125rem)) {
    .heading .title_big {
      font-size: calc(1.625rem + 1.5 * (100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(1.375rem ,1.1931818182rem + 0.9090909091vw ,1.875rem)) {
    .testimonials__heading.heading .heading__text {
      font-size: clamp(1.375rem ,1.1931818182rem + .9090909091vw ,1.875rem)
    }
  }
  @supports not (font-size:clamp(1.375rem ,1.1931818182rem + 0.9090909091vw ,1.875rem)) {
    .testimonials__heading.heading .heading__text {
      font-size: calc(1.375rem + .5 * (100vw - 20rem)/ 55)
    }
  }
}
@media (min-width:47.99875em) and (min-width:47.99875em) and (max-width:75em) {
  @supports (max-width:clamp(25rem ,-12.8861482107rem + 78.9315309476vw ,46.3125rem)) {
    .hero__content {
      max-width: clamp(25rem ,-12.8861482107rem + 78.9315309476vw ,46.3125rem)
    }
  }
  @supports not (max-width:clamp(25rem ,-12.8861482107rem + 78.9315309476vw ,46.3125rem)) {
    .hero__content {
      max-width: calc(25rem + 21.3125 * (100vw - 47.99875rem)/ 27.00125)
    }
  }
  @supports (max-width:clamp(18.75rem ,-2.359584047rem + 43.979445396vw ,30.625rem)) {
    .hero__content.heading .heading__text {
      max-width: clamp(18.75rem ,-2.359584047rem + 43.979445396vw ,30.625rem)
    }
  }
  @supports not (max-width:clamp(18.75rem ,-2.359584047rem + 43.979445396vw ,30.625rem)) {
    .hero__content.heading .heading__text {
      max-width: calc(18.75rem + 11.875 * (100vw - 47.99875rem)/ 27.00125)
    }
  }
}
@media (min-width:47.99875em) and (max-width:47.99875em) {
  .hero__content {
    max-width: 25rem
  }
  .hero__content.heading .heading__text {
    max-width: 18.75rem
  }
}
@media (min-width:47.99875em) and (max-width:75em) {
  @supports (margin-bottom:clamp(1.875rem ,-2.0136075876rem + 8.1014767835vw ,4.0625rem)) {
    .hero__content.heading .heading__text:not(:last-child) {
      margin-bottom: clamp(1.875rem ,-2.0136075876rem + 8.1014767835vw ,4.0625rem)
    }
  }
  @supports not (margin-bottom:clamp(1.875rem ,-2.0136075876rem + 8.1014767835vw ,4.0625rem)) {
    .hero__content.heading .heading__text:not(:last-child) {
      margin-bottom: calc(1.875rem + 2.1875 * (100vw - 47.99875rem)/ 27.00125)
    }
  }
  @supports (font-size:clamp(1.125rem ,0.2361754085rem + 1.8517661219vw ,1.625rem)) {
    .item-our-approach__title {
      font-size: clamp(1.125rem ,.2361754085rem + 1.8517661219vw ,1.625rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,0.2361754085rem + 1.8517661219vw ,1.625rem)) {
    .item-our-approach__title {
      font-size: calc(1.125rem + .5 * (100vw - 47.99875rem)/ 27.00125)
    }
  }
  @supports ((-moz-column-gap:clamp(1.875rem ,-5.9022151752rem + 16.202953567vw ,6.25rem)) or (column-gap:clamp(1.875rem ,-5.9022151752rem + 16.202953567vw ,6.25rem))) {
    .testimonials__container {
      -webkit-column-gap: clamp(1.875rem ,-5.9022151752rem + 16.202953567vw ,6.25rem);
      -moz-column-gap: clamp(1.875rem ,-5.9022151752rem + 16.202953567vw ,6.25rem);
      column-gap: clamp(1.875rem ,-5.9022151752rem + 16.202953567vw ,6.25rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.875rem ,-5.9022151752rem + 16.202953567vw ,6.25rem)) or (column-gap:clamp(1.875rem ,-5.9022151752rem + 16.202953567vw ,6.25rem))) {
    .testimonials__container {
      -webkit-column-gap: calc(1.875rem + 4.375 * (100vw - 47.99875rem)/ 27.00125);
      -moz-column-gap: calc(1.875rem + 4.375 * (100vw - 47.99875rem)/ 27.00125);
      column-gap: calc(1.875rem + 4.375 * (100vw - 47.99875rem)/ 27.00125)
    }
  }
  @supports (margin-bottom:clamp(1.8125rem ,-0.0762522568rem + 3.9350030091vw ,2.875rem)) {
    .testimonials__heading:not(:last-child) {
      margin-bottom: clamp(1.8125rem ,-.0762522568rem + 3.9350030091vw ,2.875rem)
    }
  }
  @supports not (margin-bottom:clamp(1.8125rem ,-0.0762522568rem + 3.9350030091vw ,2.875rem)) {
    .testimonials__heading:not(:last-child) {
      margin-bottom: calc(1.8125rem + 1.0625 * (100vw - 47.99875rem)/ 27.00125)
    }
  }
}
@media (max-width:61.99875em) and (min-width:47.99875em) and (max-width:61.99875em) {
  .for-you__content.heading .heading__button.button {
    padding: 1.625rem .625rem
  }
}
@media (min-width:47.99875em) and (max-width:61.99875em) {
  .for-you__content.heading .heading__button {
    width: 100%
  }
}
@media (min-width:61.9375em) and (max-width:75em) {
  @supports (font-size:clamp(1.25rem ,0.0645933014rem + 1.9138755981vw ,1.5rem)) {
    .item-program__title {
      font-size: clamp(1.25rem ,.0645933014rem + 1.9138755981vw ,1.5rem)
    }
  }
  @supports not (font-size:clamp(1.25rem ,0.0645933014rem + 1.9138755981vw ,1.5rem)) {
    .item-program__title {
      font-size: calc(1.25rem + .25 * (100vw - 61.9375rem)/ 13.0625)
    }
  }
}
@media (max-width:61.99875em) and (min-width:61.9375em) {
  .item-program__title {
    font-size: 1.5rem
  }
}
@media (max-width:61.99875em) and (min-width:37.5em) and (max-width:61.9375em) {
  @supports (font-size:clamp(1.25rem ,0.8663682864rem + 1.0230179028vw ,1.5rem)) {
    .item-program__title {
      font-size: clamp(1.25rem ,.8663682864rem + 1.0230179028vw ,1.5rem)
    }
  }
  @supports not (font-size:clamp(1.25rem ,0.8663682864rem + 1.0230179028vw ,1.5rem)) {
    .item-program__title {
      font-size: calc(1.25rem + .25 * (100vw - 37.5rem)/ 24.4375)
    }
  }
}
@media (any-hover:hover) {
  .button:hover::before {
    opacity: 1
  }
  .spollers__title:hover {
    background-color: var(--hover-color)
  }
  .card-care:hover .card-care__content {
    background-color: var(--brand-color)
  }
  .card-care:hover .card-care__text,
  .card-care:hover .card-care__title {
    color: var(--white-color)!important
  }
  .card-care:hover .card-care__image::before {
    opacity: 1
  }
  .card-care__title:hover a {
    color: var(--secondary-color)
  }
}