* {
    --ff-main: "Barlow", sans-serif;

    box-sizing: border-box;
    font-family: var(--ff-main);
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}
body {
    background-color: #fff;
}
button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    display: block;
}
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}
a,
button {
    transition: .4s all linear;
    font-family: "Palanquin", sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #fff;
    display: block;
    border-radius: 50px;
    padding: 14px 36px;
    width: 254px;
    background: #185ec8;
    text-decoration: none;
    width: fit-content;
}
a:hover,
button:hover {
    background: #00a2ff;
}
.header__link:hover{
    background: #0041cc;
    color: #FFF;
    border: 1px solid #FFF;
}
.container {
    max-width: 1315px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}
.header {
    padding: 103px 0;
    background-image: url(../content/header_bg.png);
    background-size: cover;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__title {
    font-weight: 600;
    font-size: 60px;
    line-height: 130%;
    color: #f2f7fd;
    margin-bottom: 30px;
}
.header__subtitle {
    font-size: 24px;
    line-height: 150%;
    color: #fff;
    margin-bottom: 30px;
}
.header__link {
    background: #c9f3ff;
    color: #071c3c;
}
.title {
    font-weight: 600;
    font-size: 50px;
    line-height: 130%;
    color: #071c3c;
}
.subtitle {
    font-size: 18px;
    line-height: 150%;
    color: #646464;
}
.help {
    padding: 100px 0;
}
.help__content {
    max-width: 523px;
    width: 100%;
}
.help__content > .subtitle {
    margin: 40px 0;
}
.help__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.care__box {
    border-radius: 120px 120px 0 120px;
    padding: 70px 59px 54px 74px;
    background: rgba(24, 94, 200, 0.15);
    max-width: 360px;
    width: 100%;
    min-height: 300px;
    position: relative;
}
.care__box-number {
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    color: #fff;
    border-radius: 100%;
    background-color: #071c3c;
    border: 6px solid #fff;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
}
.care__inner > .title {
    text-align: center;
}
.care__inner > .subtitle {
    text-align: center;
    margin: 32px 0 60px;
}
.care__box-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 129%;
    text-align: center;
    color: #185ec8;
    margin-bottom: 25px;
}
.care__box-text {
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #071c3c;
}
.care__boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}
.care__paragraph {
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #646464;
}
.care {
    padding-bottom: 170px;
}
.program {
    padding: 100px 0;
    background: #071c3c;
}
.program__inner > .title {
    color: #fff;
    text-align: center;
}
.program__inner > .subtitle {
    color: #fff;
    text-align: center;
    margin: 24px 0 55px;
}
.program__boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.program__box {
    border-radius: 100px 100px 0 100px;
    padding: 36px 40px;
    max-width: 416px;
    width: 100%;
    min-height: 185px;
    background: #c9f3ff;
}
.program__box-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 129%;
    text-align: center;
    color: #185ec8;
    margin-bottom: 10px;
}
.program__box-text {
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #071c3c;
}
.program__paragraph {
    font-family: "Palanquin", sans-serif;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #f2f7fd;
    margin: 60px 0 50px;
}
.program__link {
    margin: 0 auto;
}
.feedback {
    padding: 100px 0;
}
.feedback__boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}
.feedback__box {
    padding: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    border-radius: 10px;
    max-width: 306px;
    width: 100%;
    min-height: 290px;
}
.feedback__box-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feedback__box-comment {
    display: flex;
    align-items: center;
}
.feedback__box-thumbnail {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 10px;
    object-fit: cover;
}
.feedback__box-user {
    font-weight: 700;
    font-size: 16px;
    color: #313037;
}
.feedback__box-days {
    display: block;
    font-weight: 400;
    font-size: 12px;
    color: #313037;
    margin-top: 4px;
}
.feedback__box-starts {
    margin: 20px 0;
}
.feedback__box-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #7a7a7a;
    max-height: 154px;
    overflow: hidden;
}
.why__inner > .title {
    text-align: center;
    margin-bottom: 72px;
}
.why__box-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 129%;
    text-align: center;
    color: #185ec8;
    margin-bottom: 20px;
}
.why__box-text {
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #071c3c;
}
.why__box {
    background: #c9f3ff;
    padding: 60px 40px 40px;
    margin: 10px;
}
.why__link {
    margin: 49px auto 0;
}
.why {
    padding-bottom: 102px;
}
.team__inner {
    display: flex;
    align-items: center;
}
.team__content {
    max-width: 592px;
    width: 100%;
    margin-left: 20px;
}
.team__content > .subtitle {
    margin: 40px 0;
}
.team {
    background: #c9f3ff;
}
.journey__inner > * {
    text-align: center;
}
.journey__inner > .subtitle {
    margin: 32px 0 60px;
}
.journey {
    padding: 100px 0;
}
.journey__boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.journey__box {
    border: 1px solid #185ec8;
    border-radius: 120px 120px 0 120px;
    padding: 64px 60px;
    position: relative;
    max-width: 320px;
    width: 100%;
    min-height: 270px;
}
.journey__box-number {
    border-radius: 100%;
    background-color: #071c3c;
    border: 6px solid #fff;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.journey__box-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 129%;
    text-align: center;
    color: #185ec8;
    margin-bottom: 16px;
}
.journey__box-text {
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #071c3c;
}
.journey__link {
    margin: 60px auto 0;
}
.footer {
    padding: 90px 0 41px;
    background-image: url(../content/footer_bg.png);
    background-size: cover;
}
.footer__title {
    font-size: 48px;
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}
.footer__subtitle {
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    opacity: 0.5;
    margin-bottom: 40px;
}
.footer__link {
    margin: 0 auto 69px;
}
.footer__bottom {
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    border-top: 1px solid #ffffff2f;
    padding-top: 34px;
}
.footer__bottom > b{
    font-weight: 700;
}