@import url(https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Kulim+Park:700&display=swap);
:root {
  --primary-font: "Poppins";
  --kulim-font: "Kulim Park";
  --brand-color: #ff4444;
  --blue-color: #448aff;
  --blue-200: rgba(77, 114, 208, 0.2);
  --blue-300: rgba(68, 137, 255, 0.8);
  --blue-500: #4d72d0;
  --white-color: #ffff;
  --white-light-color: #e3e9f6;
  --black-color: #000;
  --gray-color-300: #d9d9d9;
  --gray-color-400: #555;
  --gray-color-500: #444;
  --gray-color-700: #161515;
  --hoverButton: #d61313
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  line-height: 1.4;
  font-family: var(--primary-font);
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button {
  font-family: var(--primary-font);
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 76.5rem;
  margin: 0 auto;
  padding: 0 1.25rem
}
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white-color);
  line-height: 1.33;
  background-color: var(--brand-color);
  border-radius: 3.125rem;
  font-size: 1.25rem;
  letter-spacing: .01125rem;
  padding: .9375rem 1.875rem;
  transition: all .3s
}
.button_white {
  color: var(--brand-color);
  background-color: var(--white-color)
}
.button_transparent {
  background-color: transparent;
  border: .0625rem solid var(--white-color)
}
.button_transparent-black {
  background-color: transparent;
  border: .125rem solid var(--gray-color-500);
  color: var(--gray-color-500)
}
.button_transparent-red {
  background-color: transparent;
  border: .125rem solid var(--brand-color);
  color: var(--brand-color)
}
.button_big {
  padding: .9375rem 4.6875rem
}
.button_contact {
  padding: 1.125rem 5rem!important;
  background-color: var(--white-color);
  color: var(--blue-500);
  font-weight: 600;
  text-transform: uppercase
}
.ibg {
  position: relative
}
.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover
}
._img-scale {
  overflow: hidden;
  will-change: transform
}
._img-scale img {
  transition: -webkit-transform 1s ease 0s;
  transition: transform 1s ease 0s;
  transition: transform 1s ease 0s,-webkit-transform 1s ease 0s
}
._img-scale:hover img {
  -webkit-transform: scale(1.01);
  transform: scale(1.01)
}
.page__mental-programs:not(:last-child) {
  margin-bottom: 5rem
}
.page__our-care:not(:last-child) {
  margin-bottom: 7.875rem
}
.page__journey:not(:last-child) {
  margin-bottom: 4.25rem
}
.text p:not(:last-child) {
  margin-bottom: .625rem
}
.title {
  color: var(--gray-color-500);
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -.05rem
}
.title_white {
  color: var(--white-color)
}
._section-margin {
  margin-bottom: 5rem
}
._section-margin {
  margin-bottom: 5rem
}
.banner {
  background-color: var(--blue-color)
}
.banner__container {
  padding-top: 2.3125rem;
  padding-bottom: 2.3125rem
}
.banner__content {
  text-align: center
}
.banner__title:not(:last-child) {
  margin-bottom: 1.3125rem
}
.banner__text {
  font-size: 1.375rem;
  color: var(--white-color);
  line-height: 140%;
  letter-spacing: -.0275rem
}
.banner__text:not(:last-child) {
  margin-bottom: 2.5rem
}
.banner__button.button {
  font-size: 1.125rem;
  padding: 1.0625rem 2.4375rem
}
.banner_contact {
  background-color: var(--blue-500);
  padding: 4.375rem 0
}
.rating {
  display: flex;
  align-items: center;
  gap: .3125rem
}
.rating__item {
  bottom: .125rem;
  position: relative;
  flex: 0 0 1.25rem;
  width: 1.25rem;
  height: 1.25rem
}
.rating__item img {
  max-width: 100%
}
._button-review {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 2.3125rem;
  padding: .1875rem;
  width: 100%
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .9375rem
}
.pagination .swiper-pagination-bullet {
  flex: 0 0 .75rem;
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  background-color: var(--gray-color-300);
  transition: background-color .3s;
  cursor: pointer
}
.pagination .swiper-pagination-bullet-active {
  background-color: var(--blue-500)
}
.navigation {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  z-index: 10
}
.navigation__button {
  position: relative;
  pointer-events: all;
  background-color: var(--blue-500);
  width: 5.3125rem;
  transition: background-color .3s
}
.navigation__button_prev {
  left: -7.125rem
}
.navigation__button_prev svg {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}
.navigation__button_next {
  right: -7.125rem
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: var(--white-color);
  padding-top: .3125rem;
  padding-bottom: .3125rem
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-column-gap: .625rem;
  -moz-column-gap: .625rem;
  column-gap: .625rem;
  min-height: 6.25rem
}
.header__text {
  font-family: var(--kulim-font);
  font-size: 1.5rem;
  line-height: 1.25;
  color: var(--dark-green-color)
}
.header__button {
  flex-shrink: 0
}
.footer {
  padding: 1.25rem 0;
  background-color: var(--gray-color-500)
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center
}
.footer__copy {
  color: var(--white-color);
  font-size: 1.125rem;
  line-height: 1.3;
  letter-spacing: .01125rem
}
.hero {
  position: relative
}
.hero__content {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start
}
.hero__title:not(:last-child) {
  margin-bottom: 1.625rem
}
.hero__text {
  color: var(--gray-color-400);
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: -.03rem
}
.hero__text:not(:last-child) {
  margin-bottom: 2.625rem
}
.health-care__image {
  padding-bottom: 52.8594771242%
}
.health-care__body {
  display: grid;
  gap: 3.125rem;
  align-items: center
}
.health-care__label {
  background-color: var(--blue-500);
  padding: 5.8125rem 3.75rem 7.8125rem 4.375rem;
  position: relative
}
.health-care__label h3 {
  color: var(--white-color);
  font-size: 3.75rem;
  font-weight: 700;
  letter-spacing: .0375rem;
  position: relative
}
.health-care__content > *:not(:last-child) {
  margin-bottom: 1.625rem
}
.health-care__text {
  color: var(--gray-color-700);
  font-size: 1.25rem;
  letter-spacing: .0125rem
}
.mental-programs {
  background-color: var(--blue-200)
}
.mental-programs__container {
  display: grid;
  gap: 1.5625rem;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem
}
.mental-programs__header {
  max-width: 49.25rem;
  margin: 0 auto;
  text-align: center
}
.mental-programs__title:not(:last-child) {
  margin-bottom: .75rem
}
.mental-programs__text {
  color: var(--gray-color-500);
  font-size: 1.5rem;
  letter-spacing: .015rem;
  line-height: 1.3
}
.mental-programs__list {
  display: grid;
  row-gap: 6.0625rem
}
.mental-programs__list:not(:last-child) {
  margin-bottom: 1.4375rem
}
.mental-programs__button {
  justify-self: center
}
.item-mental-program {
  display: flex;
  align-items: center;
  gap: 2.5rem
}
.item-mental-program__icon {
  flex: 0 0 8.5rem;
  width: 8.5rem;
  height: 8.5rem;
  border-radius: 50%;
  background-color: var(--brand-color);
  display: flex;
  justify-content: center;
  align-items: center
}
.item-mental-program__icon img {
  width: 6.25rem;
  height: 6.25rem
}
.item-mental-program__body {
  color: var(--gray-color-500);
  text-transform: capitalize
}
.item-mental-program__title {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: .01125rem
}
.item-mental-program__title:not(:last-child) {
  margin-bottom: .625rem
}
.item-mental-program__text {
  line-height: 1.3;
  font-size: .9375rem;
  letter-spacing: .009375rem
}
.testimonials__title {
  text-align: center
}
.testimonials__title:not(:last-child) {
  margin-bottom: 2.875rem
}
.testimonials__body {
  position: relative
}
.testimonials__slider {
  position: relative
}
.testimonials__slide {
  position: relative
}
.testimonials__slide.swiper-slide-active {
  z-index: 3
}
.testimonials__pagination {
  margin-top: 3.125rem
}
.slide-testimonial__wrapper {
  display: grid;
  align-items: start
}
.slide-testimonial__image {
  border-radius: 1.25rem;
  overflow: hidden;
  height: 100%
}
.review {
  border-radius: 4.0625rem;
  border: .625rem solid var(--blue-500);
  background-color: rgba(217,217,217,0);
  padding: 2.1875rem
}
.review__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.1875rem;
  text-align: center
}
.review__decor::before {
  content: "";
  width: 5.375rem;
  height: 3.875rem;
  background: url(../img/icons/qoute-decor.webp) 0 0/contain no-repeat
}
.review__quote {
  color: var(--gray-color-500);
  line-height: 1.3;
  font-size: 1.25rem;
  letter-spacing: .0125rem
}
.review__quote::before {
  content: '"'
}
.review__quote::after {
  content: '"'
}
.review__bottom {
  display: flex;
  gap: .625rem
}
.review__name {
  color: var(--white-color);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: .0125rem;
  background-color: var(--brand-color)
}
.review__rating {
  background-color: var(--gray-color-500)
}
.our-care__title {
  text-align: center
}
.our-care__title:not(:last-child) {
  margin-bottom: 3.75rem
}
.our-care__list {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1.6875rem 1.4375rem;
  grid-auto-rows: 1fr
}
.item-our-care {
  border-radius: .625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 12.1875rem;
  background-color: var(--brand-color);
  padding: 1.25rem
}
.item-our-care_button {
  background-color: var(--blue-500)
}
.item-our-care__title {
  color: var(--white-color);
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: -.025rem;
  text-transform: uppercase;
  max-width: 13.75rem
}
.journey__header {
  text-align: center
}
.journey__header:not(:last-child) {
  margin-bottom: 1.5rem
}
.journey__title:not(:last-child) {
  margin-bottom: .3125rem
}
.journey__text {
  font-size: 1.375rem;
  line-height: 1.4;
  letter-spacing: -.0275rem
}
.journey__items {
  display: grid
}
.journey__item {
  display: flex;
  flex-direction: column
}
.journey__image {
  padding-bottom: 72.1763085399%
}
.item-journey_image {
  padding-bottom: 153.7190082645%
}
.content-journey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.25rem;
  color: var(--white-color);
  height: 100%
}
.content-journey__title {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -.0375rem
}
.content-journey__title:not(:last-child) {
  margin-bottom: .3125rem
}
.content-journey__text {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -.025rem
}
.content-journey__text:not(:last-child) {
  margin-bottom: .9375rem
}
.content-journey_blue {
  background-color: var(--blue-500);
  min-height: 20.0625rem
}
.content-journey_red {
  background-color: var(--brand-color)
}
.content-journey_gray {
  background-color: var(--white-light-color)
}
.content-journey_gray .content-journey__text,
.content-journey_gray .content-journey__title {
  color: var(--gray-color-500)
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:29.99875em) {
  .banner__content {
    max-width: 61.5rem;
    margin: 0 auto
  }
}
@media (min-width:41.3125em) {
  .mental-programs__list {
    grid-template-columns: repeat(2,1fr)
  }
}
@media (min-width:47.99875em) {
  .hero__content {
    padding-top: 8.125rem;
    min-height: 100vh;
    padding-bottom: 1.875rem;
    max-width: 31.9375rem
  }
  .hero__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
  }
  .hero__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top
  }
  .journey__items {
    grid-template-columns: repeat(3,1fr)
  }
}
@media (min-width:47.99875em) and (min-width:61.99875em) {
  .content-journey__text {
    font-size: 1rem
  }
}
@media (min-width:61.99875em) {
  .health-care__image:not(:last-child) {
    margin-bottom: 2.1875rem
  }
  .health-care__body {
    grid-template-columns: repeat(2,1fr)
  }
  .health-care__label h3::after {
    content: "";
    position: absolute;
    bottom: -.625rem;
    right: 40%;
    width: 1.5666666667em;
    height: 1.5666666667em;
    background: url(../img/icons/arrow.svg) center no-repeat
  }
  .health-care__label {
    left: -5.3125rem;
    margin-top: -13.4375rem;
    min-width: 37.1875rem
  }
  .mental-programs__list {
    margin: 0 auto;
    max-width: 67.125rem
  }
  .testimonials__slider {
    max-width: 69.125rem;
    margin: 0 auto
  }
  .slide-testimonial__wrapper {
    grid-template-columns: repeat(2,1fr)
  }
  .review__wrapper {
    max-width: 22.8125rem;
    margin: 0 auto
  }
}
@media (min-width:76.5em) {
  .health-care__body {
    gap: 3.125rem
  }
  .mental-programs__list {
    -webkit-column-gap: 6.0625rem;
    -moz-column-gap: 6.0625rem;
    column-gap: 6.0625rem
  }
  .slide-testimonial__wrapper {
    gap: 6.875rem
  }
  .journey__items {
    gap: 2.9375rem
  }
}
@media (max-width:61.99875em) {
  .page__our-care:not(:last-child) {
    margin-bottom: 5rem
  }
  .health-care__body {
    gap: .0000000625rem
  }
  .health-care__body {
    gap: 1.5rem
  }
  .health-care__label h3 {
    font-size: 2.5rem;
    max-width: 18.75rem
  }
  .health-care__label {
    padding: 1.625rem 1.25rem;
    margin-top: -1.875rem;
    width: 97%
  }
  .mental-programs__list {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
  .item-mental-program {
    gap: 1.25rem
  }
  .testimonials__pagination {
    margin-top: 1.625rem
  }
  .testimonials__navigation {
    display: none
  }
  .slide-testimonial__wrapper {
    gap: .625rem
  }
  .slide-testimonial__wrapper {
    gap: 1.25rem
  }
  .slide-testimonial__content {
    order: 2
  }
  .slide-testimonial__image {
    order: 1
  }
  .content-journey__title {
    font-size: 1.375rem
  }
  .content-journey__button.button {
    font-size: 1rem
  }
}
@media (max-width:61.9375em) {
  .journey__items {
    gap: 1.25rem
  }
}
@media (max-width:56.25em) {
  .our-care__list {
    grid-template-columns: repeat(2,1fr)
  }
}
@media (max-width:47.99875em) {
  .page__hero {
    padding-bottom: 1.875rem
  }
  .page__mental-programs:not(:last-child) {
    margin-bottom: 6.25rem
  }
  .page__our-care:not(:last-child) {
    margin-bottom: 2rem
  }
  ._section-margin {
    margin-bottom: 2.375rem
  }
  ._section-margin {
    margin-bottom: 2.375rem
  }
  .header {
    display: none
  }
  .header__container {
    min-height: 3rem
  }
  .header__text {
    font-size: 1.25rem
  }
  .header__button {
    display: none
  }
  .footer__copy {
    font-size: .875rem
  }
  .hero {
    display: flex;
    flex-direction: column-reverse;
    gap: 1.125rem
  }
  .hero__content {
    align-items: center;
    text-align: center
  }
  .hero__title:not(:last-child) {
    margin-bottom: 1.125rem
  }
  .hero__text:not(:last-child) {
    margin-bottom: 1.125rem
  }
  .hero__image {
    width: 100%
  }
  .hero__image img {
    max-width: 100%
  }
  .mental-programs__list {
    row-gap: 2.5rem
  }
  .item-mental-program__icon img {
    width: 5.4375rem;
    height: 5.4375rem
  }
  .item-mental-program__icon {
    flex: 0 0 7.5rem;
    width: 7.5rem;
    height: 7.5rem
  }
  .testimonials__title:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .our-care__title:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .journey__items {
    gap: .875rem
  }
  .content-journey__title {
    font-size: 1.875rem
  }
  .content-journey_red {
    min-height: 20.0625rem
  }
}
@media (max-width:37.5em) {
  .our-care__list {
    grid-template-columns: auto;
    gap: 1.5rem
  }
}
@media (max-width:29.99875em) {
  .button {
    width: 100%
  }
  .button_contact {
    padding: 1.125rem .625rem!important
  }
  .page__journey:not(:last-child) {
    margin-bottom: 1.75rem
  }
  .title {
    line-height: 1.2;
    font-size: 2.1875rem
  }
  .banner {
    background-color: var(--blue-300)
  }
  .banner__container {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem
  }
  .banner__title:not(:last-child) {
    margin-bottom: .9375rem
  }
  .banner__text {
    font-size: 1.125rem
  }
  .banner__text:not(:last-child) {
    margin-bottom: 1.5625rem
  }
  .banner__button.button {
    padding: 1.0625rem .625rem
  }
  .banner_contact {
    padding: 3.125rem 0
  }
  .rating__item {
    flex: 0 0 .875rem;
    width: .875rem;
    height: .875rem
  }
  ._button-review {
    min-height: 1.875rem;
    min-width: 7rem;
    padding-left: .625rem;
    padding-right: .625rem
  }
  .footer {
    padding: .8125rem 0
  }
  .hero__text {
    font-size: 1rem
  }
  .hero__button {
    font-size: 1rem;
    padding: 1.0625rem .625rem
  }
  .health-care__content > *:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .health-care__text {
    font-size: 1rem
  }
  .mental-programs__text {
    font-size: 1.125rem
  }
  .review {
    padding: 1.25rem 1.25rem 2.5rem 1.25rem;
    border-width: .3125rem;
    border-radius: 2.1875rem
  }
  .review__wrapper {
    gap: 1.25rem;
    justify-content: center;
    align-items: center
  }
  .review__decor::before {
    width: 3.125rem;
    height: 2.125rem
  }
  .review__quote {
    font-size: .9375rem
  }
  .review__name {
    font-size: .8125rem
  }
  .our-care__button {
    width: auto
  }
  .content-journey__button {
    width: auto
  }
  .content-journey_gray {
    min-height: 15rem
  }
}
@media (max-width:23.125em) {
  .button {
    font-size: 1rem
  }
}
@media (min-width:61.99875em) and (max-width:76.5em) {
  @supports (gap:clamp(0.0000000625rem ,-13.3606474593rem + 21.5498659598vw ,3.125rem)) {
    .health-care__body {
      gap: clamp(.0000000625rem ,-13.3606474593rem + 21.5498659598vw ,3.125rem)
    }
  }
  @supports not (gap:clamp(0.0000000625rem ,-13.3606474593rem + 21.5498659598vw ,3.125rem)) {
    .health-care__body {
      gap: calc(.0000000625rem + 3.1249999375 * (100vw - 61.99875rem)/ 14.50125)
    }
  }
  @supports ((-moz-column-gap:clamp(1.875rem ,-16.0282680372rem + 28.8768209637vw ,6.0625rem)) or (column-gap:clamp(1.875rem ,-16.0282680372rem + 28.8768209637vw ,6.0625rem))) {
    .mental-programs__list {
      -webkit-column-gap: clamp(1.875rem ,-16.0282680372rem + 28.8768209637vw ,6.0625rem);
      -moz-column-gap: clamp(1.875rem ,-16.0282680372rem + 28.8768209637vw ,6.0625rem);
      column-gap: clamp(1.875rem ,-16.0282680372rem + 28.8768209637vw ,6.0625rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.875rem ,-16.0282680372rem + 28.8768209637vw ,6.0625rem)) or (column-gap:clamp(1.875rem ,-16.0282680372rem + 28.8768209637vw ,6.0625rem))) {
    .mental-programs__list {
      -webkit-column-gap: calc(1.875rem + 4.1875 * (100vw - 61.99875rem)/ 14.50125);
      -moz-column-gap: calc(1.875rem + 4.1875 * (100vw - 61.99875rem)/ 14.50125);
      column-gap: calc(1.875rem + 4.1875 * (100vw - 61.99875rem)/ 14.50125)
    }
  }
  @supports (gap:clamp(0.625rem ,-26.096295578rem + 43.0997327817vw ,6.875rem)) {
    .slide-testimonial__wrapper {
      gap: clamp(.625rem ,-26.096295578rem + 43.0997327817vw ,6.875rem)
    }
  }
  @supports not (gap:clamp(0.625rem ,-26.096295578rem + 43.0997327817vw ,6.875rem)) {
    .slide-testimonial__wrapper {
      gap: calc(.625rem + 6.25 * (100vw - 61.99875rem)/ 14.50125)
    }
  }
}
@media (min-width:61.9375em) and (max-width:76.5em) {
  @supports (gap:clamp(1.25rem ,-5.927306867rem + 11.5879828326vw ,2.9375rem)) {
    .journey__items {
      gap: clamp(1.25rem ,-5.927306867rem + 11.5879828326vw ,2.9375rem)
    }
  }
  @supports not (gap:clamp(1.25rem ,-5.927306867rem + 11.5879828326vw ,2.9375rem)) {
    .journey__items {
      gap: calc(1.25rem + 1.6875 * (100vw - 61.9375rem)/ 14.5625)
    }
  }
}
@media (any-hover:hover) {
  .button:hover {
    background-color: var(--hoverButton)
  }
  .button_white:hover {
    color: var(--white-color)
  }
  .button_transparent:hover {
    border-color: var(--hoverButton)
  }
  .button_transparent-black:hover {
    border-color: var(--hoverButton);
    color: var(--white-color)
  }
  .button_transparent-red:hover {
    border-color: var(--hoverButton);
    color: var(--white-color)
  }
  .button_contact:hover {
    color: var(--white-color)
  }
  .navigation__button:hover {
    background-color: var(--brand-color)
  }
}