@media (max-width: 1100px) {
    .programs__boxes, .start__boxes, .stories__boxes{
        justify-content: center;
    }
}
@media (max-width: 768px) {
    .start__inner > form > button{
        display: none;
    }
    .header__form {
        display: none;
    }
    .header {
        padding: 29px 0;
    }
    .header__italic,
    .header__italic > span {
        font-size: 18px;
        line-height: 117%;
        margin-bottom: 11px;
    }
    .header__title,
    .header__text {
        text-align: center;
        font-size: 22px;
    }
    .header__title {
        margin-bottom: 0;
    }
    .header__inner {
        flex-direction: column;
        justify-content: center;
    }
    .button.mobile {
        display: block;
        border: 1.55px solid #d9a441;
        background: transparent;
        border-radius: 39px 39px 39px 0;
        margin-top: 36px;
        font-size: 24px;
    }
    .rapid__inner {
        top: 0;
    }
    .rapid__inner > .title {
        color: #000;
        font-size: 22px;
    }
    .rapid {
        padding-top: 31px;
    }
    .rapid__boxes {
        flex-direction: column;
    }
    .rapid__box {
        margin-left: 0px;
        margin-bottom: 15px;
    }
    .rapid__box-title {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .rapid__box-text {
        font-size: 18px;
    }
    .about__inner {
        flex-direction: column-reverse;
    }
    .about {
        padding: 57px 20px;
    }
    .about__image {
        max-width: 400px;
        width: 100%;
    }
    .about__content{
        margin-right: 0;
    }
    .about__content > .description {
        font-size: 18px;
        margin: 10px 0;
    }
    .about__content > .title {
        font-size: 22px;
        margin-bottom: 3px;
    }
    .about__content > .text {
        font-size: 16px;
    }
    .button {
        font-size: 24px;
    }
    .programs {
        padding: 0 0 44px;
        background: #fff;
    }
    .description {
        font-size: 18px;
    }
    .title {
        font-size: 22px;
        margin-bottom: 6px;
    }
    .text {
        font-size: 16px;
        margin-bottom: 26px;
    }
    .programs__boxes {
        margin: 34px 0;
        flex-direction: column;
    }
    .programs__box {
        padding: 37px 43px;
    }
    .programs__box-image {
        width: 85px;
        height: 85px;
    }
    .programs__box-title {
        margin: 19px 0 6px;
        font-size: 18px;
    }
    .programs__box-text {
        font-size: 17px;
    }
    .stories__boxes{
        flex-direction: column;
    }
    .stories__box-image{
        width: 52px;
        height: 52px;
    }
    .stories__box-text{
        font-size: 14px;
    }
    .stories__box{
        padding: 25px 28px 64px;
        margin-bottom: 90px;
    }
    .stories__box-thumbnail{
        width: 75px;
        height: 75px;
    }
    .stories__box-name{
        font-size: 17px;
    }
    .stories{
        padding: 0 0 46px 0;
    }
    .stories__boxes{
        margin-bottom: 0;
    }
    .why__inner{
        flex-direction: column;
    }
    .why__image{
        max-width: 308px;
        width: 100%;
        margin-bottom: 10px;
    }
    .why__title{
        margin-bottom: 21px;
        font-size: 22px;
    }
    .why__box-title{
        font-size: 16px;
        margin-bottom: 0px;
    }
    .why__box-text{
        font-size: 14px;
    }
    .why__content{
        margin-left: 0;
    }
    .why__box{
        margin-bottom: 25px;
    }
    .why{
        padding: 20px 0 46px;
        background: #FFF;
    }
    .start{
        padding: 0 0 42px 0;
    }
    .start__boxes{
        flex-direction: column;
        margin: 19px 0;
    }
    .start__box-title{
        font-size: 24px;
        margin-bottom: 17px;
    }
    .start__box-text{
        font-size: 20px;
    }
    .footer{
        padding: 26px 0;
    }
    .footer__content {
      max-width: 100%;
    }
    .footer__inner{
        flex-direction: column;
        align-items: center;
    }
    .footer__title{
        font-size: 24px;
        text-align: center;
        margin-bottom: 7px;
        text-align: center;
    }
    .footer__text{
        font-size: 16px;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer__form-submit{
        display: block;
        margin: 0 auto;
    }
}

