@import url(https://fonts.googleapis.com/css?family=Kanit:300,regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Inter:regular,600,700&display=swap);
:root {
  --primary-font: "Kanit";
  --secondary-font: "Inter";
  --primary-text: black;
  --secondary-text: #fff;
  --bg-light-gray: background-color: rgba(37, 68, 65, 0.05);
  --orange: #ff6f59;
  --gray: #7f7f7f;
  --grayDark: #2d2d2d;
  --green: #43aa8b;
  --darkGreen: #254441;
  --hoverButton: #254441
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: var(--primary-text);
  line-height: 1.4;
  font-family: var(--primary-font);
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button {
  font-family: var(--primary-font);
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
button {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 82.375rem;
  margin: 0 auto;
  padding: 0 1.5rem
}
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--secondary-text);
  line-height: 1.2;
  background-color: var(--green);
  border-radius: 1.6875rem;
  font-size: .875rem;
  padding: .75rem 1.5rem;
  transition: all .3s
}
.button_transparent {
  background-color: transparent;
  border: .0625rem solid var(--secondary-text)
}
.ibg {
  position: relative
}
.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg_contain img {
  -o-object-fit: contain;
  object-fit: contain
}
._img-scale {
  overflow: hidden;
  will-change: trasform
}
._img-scale img {
  will-change: trasform;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s,-webkit-transform 1s
}
.page__hero:not(:last-child) {
  margin-bottom: 5.4375rem
}
.page__recognizing {
  margin-bottom: 4.375rem
}
.page__our-approach:not(:last-child) {
  margin-bottom: 6.25rem
}
.title {
  color: var(--grayDark);
  font-size: 3.125rem;
  font-weight: 600;
  line-height: 1.17;
  text-transform: capitalize
}
.title_big {
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 1.23;
  color: var(--secondary-text)
}
.text p:not(:last-child) {
  margin-bottom: .625rem
}
.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .625rem;
  height: 1.875rem
}
.swiper-pagination .swiper-pagination-bullet {
  width: .625rem;
  height: .625rem;
  border-radius: 50%;
  border: .125rem solid #000;
  background-color: var(--pure-white);
  border: .075rem solid rgba(37,68,65,.2);
  transition: all .3s;
  cursor: pointer
}
.swiper-pagination .swiper-pagination-bullet-active {
  position: relative;
  background-color: var(--brand--primary);
  width: 1.1875rem;
  height: 1.1875rem
}
.swiper-pagination .swiper-pagination-bullet-active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: .4375rem;
  height: .4375rem;
  border-radius: 50%;
  background-color: var(--darkGreen)
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  transition: background-color .3s ease 0s;
  will-change: background-color
}
.scrolled-page .header {
  background-color: var(--secondary-text)
}
.header__container {
  max-width: 81.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-column-gap: .625rem;
  -moz-column-gap: .625rem;
  column-gap: .625rem;
  min-height: 6.25rem;
  padding-left: .75rem;
  padding-right: .75rem;
  transition: min-height .3s;
  will-change: min-height
}
.scrolled-page .header__container {
  min-height: 3.75rem
}
.header__text {
  font-family: var(--secondary-font);
  font-size: 1.5625rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: color .3s;
  color: var(--secondary-text)
}
.scrolled-page .header__text {
  color: var(--darkGreen)
}
.header__button {
  flex-shrink: 0
}
.scrolled-page .header__button {
  background-color: var(--green);
  border-color: var(--green)
}
.hero {
  position: relative
}
.hero__container {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--secondary-font)
}
.hero__content {
  margin: 0 auto;
  max-width: 50rem;
  display: grid;
  gap: 1rem;
  padding-top: 8.125rem;
  padding-bottom: 1.875rem
}
.hero__description {
  color: var(--secondary-text)
}
.hero__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap
}
.hero__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0
}
.hero__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top
}
.hero__image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg,#254441 30%,rgba(37,68,65,.19) 100%);
  opacity: .75;
  z-index: 2
}
.recognizing__container {
  display: grid;
  gap: 1.875rem 3.75rem;
  align-items: center
}
.recognizing__image {
  overflow: hidden;
  border-radius: 1.875rem;
  padding-bottom: 100%
}
.recognizing__content ul li {
  display: flex;
  gap: .1875rem
}
.recognizing__content ul li::before {
  content: "- "
}
.recognizing__content ul:not(:last-child) {
  margin-bottom: 1.25rem
}
.recognizing__label {
  color: var(--orange);
  letter-spacing: .0625rem;
  text-transform: uppercase;
  font-weight: 500
}
.recognizing__label:not(:last-child) {
  margin-bottom: 1.25rem
}
.recognizing__title:not(:last-child) {
  margin-bottom: .625rem
}
.recognizing__text {
  font-weight: 300
}
.recognizing__text p:not(:last-child) {
  margin-bottom: 1.25rem
}
.recognizing__text:not(:last-child) {
  margin-bottom: 1.375rem
}
.our-approach {
  background-color: var(--bg-light-gray);
  padding-top: 5.3125rem;
  padding-bottom: 2.5rem
}
.our-approach__header {
  display: grid;
  -webkit-column-gap: 3.75rem;
  -moz-column-gap: 3.75rem;
  column-gap: 3.75rem
}
.our-approach__header:not(:last-child) {
  margin-bottom: 1.875rem
}
.our-approach__title {
  max-width: 29rem;
  align-self: end
}
.our-approach__text {
  font-size: 1.0625rem;
  line-height: 1.5;
  font-weight: 300
}
.our-approach__text:not(:last-child) {
  margin-bottom: .625rem
}
.our-approach__label {
  color: var(--orange);
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: .0625rem;
  text-transform: uppercase
}
.our-approach__label:not(:last-child) {
  margin-bottom: .625rem
}
.our-approach__button.button {
  padding: .75rem 1.5rem;
  font-size: .875rem
}
.our-approach__slider {
  padding: .625rem .625rem 1.25rem .625rem;
  margin: 0 -1.25rem
}
.our-approach__pagination {
  margin-top: 2.5rem
}
.our-approach .slide-item-approach {
  padding: 3.375rem 3.125rem;
  background-color: var(--secondary-text);
  display: flex;
  flex-direction: column;
  border-radius: 1.875rem;
  transition: all .3s;
  box-shadow: 0 .625rem .625rem 0 rgba(0,0,0,.07)
}
.our-approach .slide-item-approach__icon:not(:last-child) {
  margin-bottom: .8125rem
}
.our-approach .slide-item-approach__icon svg {
  width: 2.875rem;
  height: 2.875rem;
  transition: fill .3s;
  fill: var(--orange)
}
.our-approach .slide-item-approach__title {
  color: var(--grayDark);
  font-size: 1.625rem;
  font-weight: 600;
  line-height: 1.3;
  text-transform: capitalize
}
.our-approach .slide-item-approach__title:not(:last-child) {
  margin-bottom: .8125rem
}
.our-approach .slide-item-approach__text {
  line-height: 1.5;
  font-weight: 300;
  font-size: 1.0625rem;
  color: var(--gray);
  flex: 1 1 auto
}
.our-approach .slide-item-approach__text:not(:last-child) {
  margin-bottom: .4375rem
}
.our-approach .slide-item-approach__link {
  margin-right: auto;
  align-items: center;
  gap: .3125rem;
  color: var(--green);
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: .03125rem;
  text-transform: uppercase;
  transition: color .3s
}
.our-approach .slide-item-approach__link svg {
  transition: fill .3s;
  width: 1.25rem;
  height: .8125rem;
  fill: var(--green)
}
.contact-us {
  position: relative
}
.contact-us__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
  text-align: center;
  min-height: 39.6875rem;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  color: var(--secondary-text)
}
.contact-us__title.title {
  font-size: 3.75rem;
  color: var(--secondary-text)
}
.contact-us__title:not(:last-child) {
  margin-bottom: 1rem
}
.contact-us__body {
  position: relative;
  max-width: 30.625rem;
  display: grid;
  gap: 2rem;
  justify-items: center;
  padding-top: .9375rem;
  padding-bottom: 2.75rem
}
.contact-us__body::after,
.contact-us__body::before {
  content: "";
  position: absolute;
  height: .0625rem
}
.contact-us__body::before {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  top: 0;
  width: 70%;
  background-color: var(--secondary-text)
}
.contact-us__body::after {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255,255,255,.3)
}
.contact-us__body:not(:last-child) {
  margin-bottom: 2rem
}
.contact-us__label {
  max-width: 23.8125rem
}
.contact-us__description {
  line-height: 1.6;
  font-family: var(--secondary-font)
}
.contact-us__sub-title {
  font-size: 1.625rem;
  font-weight: 600;
  line-height: 1.3;
  font-family: var(--secondary-font)
}
.contact-us__sub-title:not(:last-child) {
  margin-bottom: .3125rem
}
.contact-us__button.button {
  padding-right: 2.1875rem;
  padding-left: 2.1875rem
}
.contact-us__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0
}
.contact-us__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover
}
.contact-us__image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg,rgba(37,68,65,.75) 30%,rgba(37,68,65,.65) 65%,rgba(37,68,65,.14) 100%);
  z-index: 2
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:29.99875em) {
  .hero__container {
    min-height: 100vh
  }
  .hero__title span:nth-child(2) {
    display: none
  }
}
@media (min-width:47.99875em) {
  .recognizing__container {
    grid-template-columns: repeat(2,1fr)
  }
  .our-approach__header {
    grid-template-columns: repeat(2,1fr)
  }
  .our-approach__title_mobile {
    display: none
  }
  .our-approach__text_mobile {
    display: none
  }
}
@media (max-width:61.99875em) {
  .title {
    font-size: 2.5rem
  }
  .our-approach .slide-item-approach__title {
    font-size: 1.375rem
  }
}
@media (max-width:47.99875em) {
  .page__hero:not(:last-child) {
    margin-bottom: 3.125rem
  }
  .page__recognizing {
    margin-bottom: 1.25rem
  }
  .page__our-approach:not(:last-child) {
    margin-bottom: 3.125rem
  }
  .title_big {
    font-size: 2.8125rem
  }
  .header__container {
    min-height: 3rem
  }
  .recognizing__image {
    order: 2
  }
  .recognizing__content {
    order: 1
  }
  .recognizing__label:not(:last-child) {
    margin-bottom: .625rem
  }
  .our-approach {
    padding-top: 3.125rem
  }
  .our-approach__title {
    display: none
  }
  .our-approach__title_mobile {
    display: block
  }
  .our-approach__title_mobile:not(:last-child) {
    margin-bottom: .625rem
  }
  .our-approach__text {
    display: none
  }
  .our-approach__text_mobile {
    display: block
  }
  .our-approach .slide-item-approach {
    padding: 2.125rem 2.625rem
  }
  .contact-us__title.title {
    font-size: 2rem
  }
}
@media (max-width:47.99875em) and (max-width:29.99875em) {
  .recognizing__label {
    font-size: .875rem
  }
  .recognizing__label:not(:last-child) {
    margin-bottom: .3125rem
  }
}
@media (max-width:29.99875em) {
  .button {
    font-size: .75rem
  }
  .button {
    padding: .4375rem .9375rem
  }
  .page__our-approach:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .title {
    font-size: 1.5rem
  }
  .title_big {
    font-size: 2.25rem
  }
  .header {
    display: none
  }
  .hero__container {
    min-height: 28.5625rem;
    justify-content: flex-end
  }
  .hero__content {
    padding-top: 1.875rem;
    gap: .4375rem;
    padding-bottom: 5.6875rem
  }
  .hero__title span:nth-child(1) {
    display: none
  }
  .hero__title span:nth-child(2) {
    display: block
  }
  .hero__description {
    font-size: .75rem
  }
  .hero__buttons {
    gap: .3125rem;
    margin-top: .625rem
  }
  .hero__button.button {
    font-size: .625rem
  }
  .recognizing__title:not(:last-child) {
    margin-bottom: 1.625rem
  }
  .our-approach {
    padding-bottom: 0
  }
  .our-approach__slider {
    padding-bottom: .625rem
  }
  .our-approach__pagination {
    margin-top: 1.25rem
  }
  .our-approach .slide-item-approach__icon svg {
    width: 2.1875rem;
    height: 2.1875rem
  }
  .our-approach .slide-item-approach__title {
    font-size: 1.25rem;
    line-height: 1.2
  }
  .our-approach .slide-item-approach__title:not(:last-child) {
    margin-bottom: .4375rem
  }
  .our-approach .slide-item-approach__text {
    font-size: .625rem
  }
  .our-approach .slide-item-approach__text:not(:last-child) {
    margin-bottom: .4375rem
  }
  .our-approach .slide-item-approach__link svg {
    font-size: .625rem;
    width: .9375rem;
    height: .5rem
  }
  .our-approach .slide-item-approach__link {
    font-size: .625rem
  }
  .our-approach .slide-item-approach {
    background-color: var(--darkGreen)
  }
  .our-approach .slide-item-approach .slide-item-approach__title {
    color: var(--secondary-text)
  }
  .our-approach .slide-item-approach .slide-item-approach__text {
    color: rgba(255,255,255,.74)
  }
  .our-approach .slide-item-approach .slide-item-approach__icon svg {
    fill: var(--green)
  }
  .contact-us__container {
    min-height: 18.75rem
  }
  .contact-us__body:not(:last-child) {
    margin-bottom: 2rem
  }
  .contact-us__body {
    padding-bottom: 1.25rem;
    gap: 1.25rem
  }
  .contact-us__label {
    font-size: .75rem
  }
  .contact-us__description {
    font-size: .75rem
  }
  .contact-us__sub-title {
    font-size: 1.25rem
  }
}
@media (any-hover:hover) {
  .button:hover {
    background-color: var(--hoverButton)
  }
  .button_transparent:hover {
    border: .0625rem solid var(--hoverButton)
  }
  ._img-scale:hover img {
    -webkit-transform: scale(1.005);
    transform: scale(1.005)
  }
  .scrolled-page .header__button:hover {
    background-color: var(--hoverButton)
  }
  .our-approach .slide-item-approach:hover {
    background-color: var(--darkGreen)
  }
  .our-approach .slide-item-approach:hover .slide-item-approach__title {
    color: var(--secondary-text)
  }
  .our-approach .slide-item-approach:hover .slide-item-approach__text {
    color: rgba(255,255,255,.74)
  }
  .our-approach .slide-item-approach:hover .slide-item-approach__icon svg {
    fill: var(--green)
  }
  .our-approach .slide-item-approach__link:hover {
    color: var(--orange)
  }
  .our-approach .slide-item-approach__link:hover svg {
    fill: var(--orange)
  }
}