@import url("https://fonts.googleapis.com/css?family=Kumbh+Sans:300,regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:600&display=swap");
:root {
  --brand-color: #f45144;
  --white-light-color: #f1f1f1;
  --white-dark-color: #d9d9d9;
  --white-color: #fff;
  --white-color-100: #faf7f6;
  --white-color-200: #ffede3;
  --black-color: #000;
  --gray-color: #8f8f8f;
  --gray-color-100: #d8d6d6;
  --gray-color-200: #898989;
  --gray-color-300: #d8d6d6;
  --gray-color-400: #808080;
  --gray-color-700: #504a4a;
  --hover-color: #f33022;
  --primary-font: "Kumbh Sans";
  --secondary-font: "Playfair Display";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: var(--primary-font);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: var(--primary-font);
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h4 {
  font-weight: inherit;
  font-size: inherit;
}

[class*=__container] {
  max-width: 71.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

.content {
  display: flex;
  flex-direction: column;
}
.content__title {
  font-family: var(--secondary-font);
  line-height: 1.26;
  font-weight: 600;
}
.content__title:not(:last-child) {
  margin-bottom: 0.625rem;
}
.content__title_main {
  font-weight: 700;
  color: var(--white-color);
}
.content__text {
  line-height: 1.54;
  letter-spacing: 0.015rem;
}
.content_center {
  text-align: center;
}

.text {
  line-height: 1.2;
}
.text p:not(:last-child) {
  margin-bottom: 0.625rem;
}

.ibg {
  position: relative;
}
.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}
.block {
  padding-top: 3.75rem;
  padding-bottom: 8.625rem;
}
.block__container {
  display: grid;
  align-items: center;
  gap: 2.9375rem;
}
.block__content.content .content__text {
  line-height: 1.25;
}
.block__image {
  padding-bottom: 84.2%;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.3125rem 2.625rem 0.3125rem 2.625rem;
  font-size: 1.75rem;
  color: var(--white-color);
  transition: all 0.3s;
  letter-spacing: 0.03rem;
  min-height: 4.5rem;
  background-color: var(--brand-color);
  font-weight: 600;
}
.spollers {
  display: grid;
  gap: 1.25rem;
}

.spollers__title {
  font-size: 1.375rem;
  font-weight: 500;
  display: flex;
  justify-content: start;
  flex-direction: row-reverse;
  gap: 2.375rem;
  width: 100%;
  cursor: pointer;
  text-align: left;
  padding: 1.1875rem 2rem 1.1875rem 2rem;
  list-style: none;
  line-height: 1.3;
  align-items: center;
  transition: color 0.3s;
  background-color: var(--white-light-color);
}
.spollers__title::marker, .spollers__title::-webkit-details-marker {
  display: none;
}
.spollers__title._spoller-active {
  color: var(--yellow-color);
}
.spollers__title._spoller-active .spollers__icon::after {
  transform: rotate(90deg);
}

.spollers__icon {
  flex: 0 0 2.125rem;
  width: 2.125rem;
  align-self: start;
  height: 2.125rem;
  transition: transform 0.3s;
  position: relative;
  background-color: #eb9a7a;
  border-radius: 50%;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spollers__icon::before, .spollers__icon::after {
  content: "";
  transition: background-color 0.3s, transform 0.3s;
  position: absolute;
  background-color: var(--white-color);
}
.spollers__icon::before {
  top: 50%;
  transform: translateY(-50%);
  height: 0.0625rem;
  width: 50%;
}
.spollers__icon::after {
  height: 50%;
  width: 0.0625rem;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.3s, background-color 0.3s;
}
._spoller-active .spollers__icon {
  background-color: var(--brand-color);
}
._spoller-active .spollers__icon::after {
  transform: rotate(90deg);
}

.spollers__body {
  padding: 1.25rem 1.5rem 1.25rem 6.875rem;
}
.spollers__body p {
  max-width: 41rem;
  font-size: 1.5rem;
  line-height: 1.37;
  color: var(--gray-color);
}

.footer {
  padding-top: 7.25rem;
}
.footer__container {
  display: grid;
  align-items: start;
  max-width: 87.5rem;
  gap: 1.25rem;
}
.footer__content.content .content__title {
  margin-bottom: 4.375rem;
}
.form {
  display: flex;
  flex-direction: column;
  background-color: var(--white-light-color);
  padding: 1.6875rem 2.5rem 2.3125rem 2.5rem;
  border-radius: 1.5rem;
}
.form__inputs-wrapp {
  display: grid;
  gap: 0.625rem;
}
.form__send {
  align-self: center;
  margin-top: 1.75rem;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0.5rem !important;
  width: 100%;
  display: block;
  height: 4.9375rem;
  transition: all 0.3s;
  outline: none;
  font-size: 1.5rem;
  background-color: var(--white-color);
  font-weight: 300;
  letter-spacing: 0.135rem;
  padding: 0 2.25rem;
  box-shadow: 0 0 0.125rem 0.0625rem rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s;
}
.input:focus {
  box-shadow: 0 0 0.125rem 0.0625rem var(--green-color);
}
.input::-moz-placeholder {
  color: var(--gray-color-200);
}
.input::placeholder {
  color: var(--gray-color-200);
}

textarea.input {
  padding: 1.875rem;
  resize: vertical;
  min-height: 10.875rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: var(--white-color);
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}
.header form {
  display: flex;
}

.hero {
  position: relative;
}
.hero:not(:last-child) {
  margin-bottom: 5.625rem;
}
.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.hero__container {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 87.5rem;
  margin: 0 auto;
}
.hero__body {
  max-width: 51.4375rem;
}
.hero__content.content .content__title {
  line-height: 1.14;
}
.hero__content.content .content__text {
  line-height: 1.2;
  max-width: 33.75rem;
  font-weight: 600;
  color: var(--white-color);
}
.hero__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.journey {
  overflow: hidden;
}
.journey__container {
  padding-top: 6.25rem;
  max-width: 87.5rem;
  margin: 0 auto;
  display: grid;
  align-items: start;
  position: relative;
}
.journey__container::before, .journey__container::after {
  content: "";
  position: absolute;
  top: 0;
  background-color: var(--white-color-100);
  width: 100vw;
  height: 100%;
}
.journey__container::before {
  left: 0;
}
.journey__container::after {
  right: 0;
}
.journey__container > * {
  z-index: 2;
}
.journey__lines-decor {
  position: absolute;
  bottom: 0;
  right: -2%;
  width: 16.572%;
  height: 30.46%;
  background: url("../img/decors/decor-lines.png") bottom/contain no-repeat;
  pointer-events: none;
}
.images-journey {
  position: relative;
}
.images-journey::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0.375rem;
  background-color: var(--brand-color);
  height: 27.4038461538%;
}
.images-journey__image_small {
  position: absolute;
  right: 0;
  bottom: -26.513514%;
  width: 51.2569832402%;
  padding-bottom: 51.677%;
  z-index: 3;
  border: 0.5rem solid var(--white-color);
}
.images-journey__image_big {
  width: 75.1396648045%;
  padding-bottom: 64.246%;
  z-index: 2;
}

.experience {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--brand-color);
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 23.1843575419%;
  height: 36.088%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.experience::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 9%;
  left: 0;
  border-radius: inherit;
  z-index: 1;
  background-color: var(--white-color);
}
.experience__content {
  max-width: 7.1875rem;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}
.experience__value {
  font-family: var(--secondary-font);
}
.experience__value:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.experience__text {
  font-weight: 600;
}

.decors-journey {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.decors-journey__item {
  position: absolute;
}
.decors-journey__item_bg {
  top: -30%;
  left: -15%;
  width: 70.8100558659%;
  height: 63.27%;
  background: url("../img/decors/decor-lines-journey.png") 0 0/contain no-repeat;
  z-index: 1;
}
.decors-journey__item_dots-left {
  width: 8.938547486%;
  height: 21.557692%;
  background: url("../img/decors/dots-small.png") bottom/contain no-repeat;
  left: 0;
  bottom: -20%;
  z-index: 5;
}
.decors-journey__item_dots-right {
  width: 8.938547486%;
  height: 21.557692%;
  background: url("../img/decors/dots.png") bottom/contain no-repeat;
  left: 35%;
  bottom: -10%;
  z-index: 5;
}
.decors-journey__item_triangle {
  width: 86.5921787709%;
  height: 105.2884615385%;
  background: url("../img/decors/triangle.png") bottom/contain no-repeat;
  bottom: -25%;
  z-index: -1;
  left: -8%;
}

.programs {
  padding-top: 5.625rem;
  padding-bottom: 3.75rem;
}
.programs__header {
  max-width: 49.5625rem;
  margin: 0 auto;
}
.programs__header:not(:last-child) {
  margin-bottom: 3.875rem;
}
.programs__header.content .content__title {
  max-width: 37.5rem;
  margin-left: auto;
  margin-right: auto;
}
.programs__header.content .content__text {
  color: var(--gray-color);
}
.programs__items {
  display: grid;
  gap: 1.25rem;
}

.item-program {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: var(--white-color-100);
  padding: 1.4375rem 3.625rem 2.5rem 3.625rem;
  text-align: center;
}
.item-program__icon {
  flex: 0 0 7rem;
  width: 7rem;
  height: 7rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.25));
  border-radius: 50%;
  background-color: var(--white-color);
}
.item-program__icon img {
  width: 3.75rem;
  height: 3.75rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.item-program__icon:not(:last-child) {
  margin-bottom: 1.25rem;
}
.item-program__title {
  font-family: var(--secondary-font);
  font-weight: 600;
  line-height: 1.2;
  text-transform: capitalize;
  letter-spacing: 0.015625rem;
}
.item-program__title:not(:last-child) {
  margin-bottom: 1.25rem;
}
.item-program__text {
  line-height: 1.2;
  letter-spacing: 0.025rem;
  color: var(--gray-color);
}

.testimonials {
  padding-top: 5.625rem;
}
.testimonials__header {
  position: relative;
  z-index: 2;
  margin-bottom: 10.25rem;
}
.testimonials__list-wrapper {
  position: relative;
  padding-bottom: 3.9375rem;
}
.testimonials__list-wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: var(--gray-color-700) url("../img/decors/decor-lines-bg-2.png") no-repeat center center/cover;
}
.testimonials__list {
  position: relative;
  z-index: 2;
  max-width: 71.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
  display: grid;
  gap: 1.25rem;
}

.item-testimonial {
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  box-shadow: 0 0 0.25rem 0.1875rem rgba(0, 0, 0, 0.21);
  font-size: 1.5rem;
  padding: 1.875rem 1.5625rem 0 1.5625rem;
}
.item-testimonial__quote {
  line-height: 1.25;
  letter-spacing: 0.03rem;
  text-align: center;
  font-size: 1.5rem;
  flex: 1 1 auto;
  border-bottom: 0.0625rem solid #ccc;
}
.item-testimonial__quote:not(:last-child) {
  padding-bottom: 2.125rem;
}
.item-testimonial__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.625rem;
  padding: 1.125rem 0;
}
.item-testimonial__bottom::after {
  content: "";
  flex: 0 0 4.75rem;
  width: 4.75rem;
  height: 4.75rem;
  background: url("../img/decors/quote.png") 0 0/contain no-repeat;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.profile__image {
  flex: 0 0 4.75rem;
  width: 4.75rem;
  height: 4.75rem;
  border-radius: 50%;
  overflow: hidden;
}
.profile__name {
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.0275rem;
}

.treatment {
  padding: 4.375rem 0;
  background-color: var(--white-color-200);
  position: relative;
}
.treatment::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/decors/decor-lines-bg.png") 0 0/cover no-repeat;
  pointer-events: none;
}
.treatment__container > * {
  position: relative;
  z-index: 2;
}
.treatment__container {
  display: flex;
  flex-direction: column;
}
.treatment__container form {
  align-self: center;
  padding: 0rem 1.25rem;
}
.treatment__header {
  max-width: 48.75rem;
  margin: 0 auto;
}
.treatment__header:not(:last-child) {
  margin-bottom: 2.9375rem;
}
.treatment__header.content .content__title:not(:last-child) {
  margin-bottom: 0.75rem;
}
.treatment__header.content .content__text {
  color: var(--gray-color);
}
.treatment__table-wrapper {
  overflow-x: auto;
}
.treatment__table-wrapper:not(:last-child) {
  margin-bottom: 3rem;
}
.treatment__table {
  width: 100%;
  line-height: 1.2;
  border-collapse: collapse;
  text-align: left;
  font-size: 1.25rem;
  color: var(--black-color);
  border: 0.0625rem solid var(--black-color);
}
.treatment__table thead {
  height: 3.375rem;
  text-align: center;
  color: var(--black-color);
  position: relative;
  border-bottom: 0.0625rem solid var(--black-color);
}
.treatment__table thead tr th {
  padding: 0.625rem 1.25rem;
  font-weight: 600;
  position: relative;
}
.treatment__table thead tr th:first-child {
  text-align: left;
}
.treatment__table thead th:first-child,
.treatment__table thead td:first-child {
  padding-left: 2.25rem;
}
.treatment__table tbody th:first-child,
.treatment__table tbody td:first-child {
  text-align: left;
}
.treatment__table tr td {
  text-align: center;
  vertical-align: top;
  padding: 0.625rem 2.25rem;
  font-weight: 400;
}
@media (max-width: 64.06125em){
  .footer {
    padding-top: 3.75rem;
  }
  .footer__container {
    gap: 2.8125rem;
  }
  .form__send {
    margin-top: 1.5rem;
  }
}
@media (max-width: 64em){
  .form {
    margin: 0 -1.25rem;
    border-radius: 0.75rem;
    padding-bottom: 1.5rem;
  }
}
@media (max-width: 61.99875em){
  .item-program {
    padding: 1.25rem 1.5625rem 1.875rem 1.5625rem;
  }
  .testimonials__header {
    margin-bottom: 4.375rem;
  }
  .testimonials__list-wrapper::before {
    height: 103%;
  }
  .testimonials__list {
    max-width: 43.75rem;
    margin: 0 auto;
  }
}
@media (max-width: 47.99875em) and (min-width: 47.99875em){
  .journey__container {
    gap: 11.25rem;
  }
  .experience__content {
    max-width: 7.1875rem;
  }
  .experience__value {
    font-size: 3rem;
  }
  .experience__text {
    font-size: 1.25rem;
  }
}
@media (max-width: 47.99875em) and (max-width: 29.99875em){
  .profile__image {
    flex: 0 0 3.875rem;
    width: 3.875rem;
    height: 3.875rem;
  }
}
@media (max-width: 47.99875em) and (max-width: 20em){
  .journey__container {
    gap: 4.375rem;
  }
  .experience__content {
    max-width: 3.125rem;
  }
  .experience__value {
    font-size: 1.5rem;
  }
  .experience__text {
    font-size: 0.5rem;
  }
}
@media (max-width: 47.99875em){
  .content__title {
    font-weight: 600;
  }
  .content__text {
    letter-spacing: 0.01rem;
  }
  .block {
    padding-top: 0.9375rem;
    padding-bottom: 2.5rem;
  }
  .block__container {
    gap: 1rem;
  }
  .block__content.content .content__title:not(:last-child) {
    margin-bottom: 1rem;
  }
  .spollers__title {
    gap: 0.625rem;
  }
  .spollers__icon {
    flex: 0 0 1.125rem;
    width: 1.125rem;
    height: 1.125rem;
    top: 0.3125rem;
  }
  .spollers__body {
    padding-left: 4.0625rem;
  }
  .footer__content.content .content__title {
    margin-bottom: 1.5625rem;
  }
  .hero:not(:last-child) {
    margin-bottom: 0.625rem;
  }
  .journey__container {
    padding-bottom: 7.5rem;
  }
  .journey__container {
    gap: 1.875rem;
  }
  .journey__container {
    padding-bottom: 4.375rem;
    padding-top: 1.875rem;
  }
  .journey__lines-decor {
    width: 36.572%;
  }
  .journey__content.content .content__title:not(:last-child) {
    margin-bottom: 0.75rem;
  }
  .experience__value {
    font-size: 1.5rem;
  }
  .experience__value:not(:last-child) {
    margin-bottom: 0.3125rem;
  }
  .experience__text {
    font-size: 0.75rem;
  }
  .programs {
    padding-top: 2rem;
    padding-bottom: 0.9375rem;
  }
  .programs__header:not(:last-child) {
    margin-bottom: 1.875rem;
  }
  .item-program__icon:not(:last-child) {
    margin-bottom: 1rem;
  }
  .item-program__title {
    font-size: 1.125rem;
  }
  .item-program__title:not(:last-child) {
    margin-bottom: 1rem;
  }
  .item-program__title {
    letter-spacing: 0.01125rem;
  }
  .item-program__text {
    font-size: 1rem;
  }
  .item-program:nth-child(3) .item-program__title {
    max-width: 9.375rem;
  }
  .testimonials {
    padding-top: 3.75rem;
  }
  .item-testimonial__bottom::after {
    flex: 0 0 3.875rem;
    width: 3.875rem;
    height: 3.875rem;
  }
  .profile__image {
    flex: 0 0 5.625rem;
    width: 5.625rem;
    height: 5.625rem;
  }
  .treatment {
    padding: 1.75rem 0 1.5625rem 0;
  }
  .treatment__header:not(:last-child) {
    margin-bottom: 1.25rem;
  }
  .treatment__table-wrapper:not(:last-child) {
    padding: 0 2.1875rem;
    margin: 0 -2.1875rem;
    margin-bottom: 1.25rem;
  }
  .treatment__table {
    min-width: 44.625rem;
  }
  .treatment__table thead tr th {
    padding: 0.625rem 0.9375rem;
    font-size: 1rem;
  }
  .treatment__table thead th:first-child,
  .treatment__table thead td:first-child {
    padding-left: 1rem;
  }
  .treatment__table thead {
    height: 2.5rem;
  }
  .treatment__table tr td {
    padding: 0.46875rem 0.8125rem;
    font-size: 1rem;
    vertical-align: middle;
    height: 3.4375rem;
  }
}
@media (max-width: 37.5em){
  .form {
    padding: 1.125rem 0.9375rem 1.5rem 0.9375rem;
  }
}
@media (max-width: 29.99875em){
  .content__title_main {
    line-height: 1.2;
  }
  .button {
    font-size: 1rem;
    padding: 0.3125rem 1.375rem 0.3125rem 1.375rem;
    min-height: 2.875rem;
  }
  .spollers__title {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1rem;
  }
  .spollers__body {
    padding-top: 0.625rem;
    padding-left: 2.5rem;
    padding: 0.625rem 0.9375rem 0.9375rem 0.4375rem;
  }
  .spollers__body p {
    font-size: 1rem;
  }
  .input {
    font-size: 1rem;
    height: 3.4375rem;
    padding: 0 1.125rem;
  }
  textarea.input {
    min-height: 8.4375rem;
    padding: 1.125rem;
  }
  .hero__container {
    padding: 2.5rem 0.3125rem 2.5rem 0.3125rem;
  }
  .item-program__icon img {
    width: 3.125rem;
    height: 3.125rem;
  }
  .item-program__icon {
    flex: 0 0 5.75rem;
    width: 5.75rem;
    height: 5.75rem;
  }
  .testimonials__header {
    margin-bottom: 3.125rem;
  }
  .item-testimonial {
    font-size: 1rem;
    padding: 1.625rem 1.25rem 0 1.25rem;
  }
  .item-testimonial__quote {
    font-size: 1.25rem;
  }
  .profile {
    gap: 0.8125rem;
    font-size: 1.125rem;
  }
}
@media (max-width: 20em){
  .content__title {
    font-size: 1.1875rem;
  }
  .content__text {
    font-size: 1rem;
  }
  .hero__content:not(:last-child) {
    margin-bottom: 1.5625rem;
  }
  .hero__content.content .content__text {
    font-size: 1rem;
  }
  .programs__header.content .content__text {
    font-size: 1rem;
  }
  .treatment__header.content .content__text {
    font-size: 1rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 47.99875em){
  @supports (gap: clamp( 4.375rem , -0.5359335238rem  +  24.5546676191vw , 11.25rem )) {
    .journey__container {
      gap: clamp( 4.375rem , -0.5359335238rem  +  24.5546676191vw , 11.25rem );
    }
  }
  @supports not (gap: clamp( 4.375rem , -0.5359335238rem  +  24.5546676191vw , 11.25rem )) {
    .journey__container {
      gap: calc(4.375rem + 6.875 * (100vw - 20rem) / 27.99875);
    }
  }
  @supports (max-width: clamp( 3.125rem , 0.2230847359rem  +  14.5095763204vw , 7.1875rem )) {
    .experience__content {
      max-width: clamp( 3.125rem , 0.2230847359rem  +  14.5095763204vw , 7.1875rem );
    }
  }
  @supports not (max-width: clamp( 3.125rem , 0.2230847359rem  +  14.5095763204vw , 7.1875rem )) {
    .experience__content {
      max-width: calc(3.125rem + 4.0625 * (100vw - 20rem) / 27.99875);
    }
  }
  @supports (font-size: clamp( 1.5rem , 0.4285235948rem  +  5.357382026vw , 3rem )) {
    .experience__value {
      font-size: clamp( 1.5rem , 0.4285235948rem  +  5.357382026vw , 3rem );
    }
  }
  @supports not (font-size: clamp( 1.5rem , 0.4285235948rem  +  5.357382026vw , 3rem )) {
    .experience__value {
      font-size: calc(1.5rem + 1.5 * (100vw - 20rem) / 27.99875);
    }
  }
  @supports (font-size: clamp( 0.5rem , -0.0357382026rem  +  2.678691013vw , 1.25rem )) {
    .experience__text {
      font-size: clamp( 0.5rem , -0.0357382026rem  +  2.678691013vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 0.5rem , -0.0357382026rem  +  2.678691013vw , 1.25rem )) {
    .experience__text {
      font-size: calc(0.5rem + 0.75 * (100vw - 20rem) / 27.99875);
    }
  }
}
@media (min-width: 20em) and (max-width: 71.875em){
  @supports (font-size: clamp( 1.1875rem , 0.4646084337rem  +  3.6144578313vw , 3.0625rem )) {
    .content__title {
      font-size: clamp( 1.1875rem , 0.4646084337rem  +  3.6144578313vw , 3.0625rem );
    }
  }
  @supports not (font-size: clamp( 1.1875rem , 0.4646084337rem  +  3.6144578313vw , 3.0625rem )) {
    .content__title {
      font-size: calc(1.1875rem + 1.875 * (100vw - 20rem) / 51.875);
    }
  }
  @supports (font-size: clamp( 1rem , 0.8072289157rem  +  0.9638554217vw , 1.5rem )) {
    .content__text {
      font-size: clamp( 1rem , 0.8072289157rem  +  0.9638554217vw , 1.5rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.8072289157rem  +  0.9638554217vw , 1.5rem )) {
    .content__text {
      font-size: calc(1rem + 0.5 * (100vw - 20rem) / 51.875);
    }
  }
  @supports (margin-bottom: clamp( 1.5625rem , 0.4781626506rem  +  5.421686747vw , 4.375rem )) {
    .hero__content:not(:last-child) {
      margin-bottom: clamp( 1.5625rem , 0.4781626506rem  +  5.421686747vw , 4.375rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.5625rem , 0.4781626506rem  +  5.421686747vw , 4.375rem )) {
    .hero__content:not(:last-child) {
      margin-bottom: calc(1.5625rem + 2.8125 * (100vw - 20rem) / 51.875);
    }
  }
  @supports (font-size: clamp( 1rem , 0.7108433735rem  +  1.4457831325vw , 1.75rem )) {
    .hero__content.content .content__text {
      font-size: clamp( 1rem , 0.7108433735rem  +  1.4457831325vw , 1.75rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.7108433735rem  +  1.4457831325vw , 1.75rem )) {
    .hero__content.content .content__text {
      font-size: calc(1rem + 0.75 * (100vw - 20rem) / 51.875);
    }
  }
  @supports (font-size: clamp( 1rem , 0.9036144578rem  +  0.4819277108vw , 1.25rem )) {
    .programs__header.content .content__text {
      font-size: clamp( 1rem , 0.9036144578rem  +  0.4819277108vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.9036144578rem  +  0.4819277108vw , 1.25rem )) {
    .programs__header.content .content__text {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 51.875);
    }
  }
  @supports (font-size: clamp( 1rem , 0.9036144578rem  +  0.4819277108vw , 1.25rem )) {
    .treatment__header.content .content__text {
      font-size: clamp( 1rem , 0.9036144578rem  +  0.4819277108vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.9036144578rem  +  0.4819277108vw , 1.25rem )) {
    .treatment__header.content .content__text {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 51.875);
    }
  }
}
@media (min-width: 29.99875em){
  .hero__container {
    min-height: 100vh;
  }
  .hero__content.content .content__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 71.875em){
  @supports (margin-bottom: clamp( 1rem , -4.1514285901rem  +  10.7324223863vw , 3.5625rem )) {
    .block__content.content .content__title:not(:last-child) {
      margin-bottom: clamp( 1rem , -4.1514285901rem  +  10.7324223863vw , 3.5625rem );
    }
  }
  @supports not (margin-bottom: clamp( 1rem , -4.1514285901rem  +  10.7324223863vw , 3.5625rem )) {
    .block__content.content .content__title:not(:last-child) {
      margin-bottom: calc(1rem + 2.5625 * (100vw - 47.99875rem) / 23.87625);
    }
  }
  @supports (padding-bottom: clamp( 7.5rem , 3.7306620072rem  +  7.8529919899vw , 9.375rem )) {
    .journey__container {
      padding-bottom: clamp( 7.5rem , 3.7306620072rem  +  7.8529919899vw , 9.375rem );
    }
  }
  @supports not (padding-bottom: clamp( 7.5rem , 3.7306620072rem  +  7.8529919899vw , 9.375rem )) {
    .journey__container {
      padding-bottom: calc(7.5rem + 1.875 * (100vw - 47.99875rem) / 23.87625);
    }
  }
  @supports (gap: clamp( 1.875rem , -5.412386786rem  +  15.1824511806vw , 5.5rem )) {
    .journey__container {
      gap: clamp( 1.875rem , -5.412386786rem  +  15.1824511806vw , 5.5rem );
    }
  }
  @supports not (gap: clamp( 1.875rem , -5.412386786rem  +  15.1824511806vw , 5.5rem )) {
    .journey__container {
      gap: calc(1.875rem + 3.625 * (100vw - 47.99875rem) / 23.87625);
    }
  }
  @supports (margin-bottom: clamp( 0.75rem , -5.2809407884rem  +  12.5647871839vw , 3.75rem )) {
    .journey__content.content .content__title:not(:last-child) {
      margin-bottom: clamp( 0.75rem , -5.2809407884rem  +  12.5647871839vw , 3.75rem );
    }
  }
  @supports not (margin-bottom: clamp( 0.75rem , -5.2809407884rem  +  12.5647871839vw , 3.75rem )) {
    .journey__content.content .content__title:not(:last-child) {
      margin-bottom: calc(0.75rem + 3 * (100vw - 47.99875rem) / 23.87625);
    }
  }
  @supports (font-size: clamp( 1.5rem , -1.5154703942rem  +  6.282393592vw , 3rem )) {
    .experience__value {
      font-size: clamp( 1.5rem , -1.5154703942rem  +  6.282393592vw , 3rem );
    }
  }
  @supports not (font-size: clamp( 1.5rem , -1.5154703942rem  +  6.282393592vw , 3rem )) {
    .experience__value {
      font-size: calc(1.5rem + 1.5 * (100vw - 47.99875rem) / 23.87625);
    }
  }
  @supports (margin-bottom: clamp( 0.3125rem , -0.9439459976rem  +  2.6176639966vw , 0.9375rem )) {
    .experience__value:not(:last-child) {
      margin-bottom: clamp( 0.3125rem , -0.9439459976rem  +  2.6176639966vw , 0.9375rem );
    }
  }
  @supports not (margin-bottom: clamp( 0.3125rem , -0.9439459976rem  +  2.6176639966vw , 0.9375rem )) {
    .experience__value:not(:last-child) {
      margin-bottom: calc(0.3125rem + 0.625 * (100vw - 47.99875rem) / 23.87625);
    }
  }
  @supports (font-size: clamp( 0.75rem , -0.2551567981rem  +  2.0941311973vw , 1.25rem )) {
    .experience__text {
      font-size: clamp( 0.75rem , -0.2551567981rem  +  2.0941311973vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 0.75rem , -0.2551567981rem  +  2.0941311973vw , 1.25rem )) {
    .experience__text {
      font-size: calc(0.75rem + 0.5 * (100vw - 47.99875rem) / 23.87625);
    }
  }
  @supports (font-size: clamp( 1.125rem , 0.8737108005rem  +  0.5235327993vw , 1.25rem )) {
    .item-program__title {
      font-size: clamp( 1.125rem , 0.8737108005rem  +  0.5235327993vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 0.8737108005rem  +  0.5235327993vw , 1.25rem )) {
    .item-program__title {
      font-size: calc(1.125rem + 0.125 * (100vw - 47.99875rem) / 23.87625);
    }
  }
  @supports (font-size: clamp( 1rem , 0.497421601rem  +  1.0470655987vw , 1.25rem )) {
    .item-program__text {
      font-size: clamp( 1rem , 0.497421601rem  +  1.0470655987vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.497421601rem  +  1.0470655987vw , 1.25rem )) {
    .item-program__text {
      font-size: calc(1rem + 0.25 * (100vw - 47.99875rem) / 23.87625);
    }
  }
}
@media (min-width: 47.99875em){
  .block__container {
    grid-template-columns: 52.7% 1fr;
  }
  .block__content.content .content__text {
    max-width: 30.75rem;
  }
  .journey__container {
    grid-template-columns: 52.263% 1fr;
  }
  .journey__content {
    max-width: 26.875rem;
  }
  .programs__items {
    grid-template-columns: repeat(3, 1fr);
  }
  .item-program:nth-child(3) .item-program__title {
    max-width: 13.125rem;
  }
  .treatment__table tr:first-child td {
    padding-top: 1.25rem;
  }
  .treatment__table tr:last-child td {
    padding-bottom: 1.25rem;
  }
}
@media (min-width: 61.99875em){
  .testimonials__list {
    grid-template-columns: repeat(3, 1fr);
    transform: translateY(-7.5rem);
  }
}
@media (min-width: 64.0625em){
  .footer {
    padding-bottom: 2.0625rem;
  }
  .footer__container {
    grid-template-columns: 55.622% 1fr;
  }
  .footer__content {
    padding-top: 3.125rem;
  }
}
@media (min-width: 71.875em){
  .content__title {
    font-size: 3.0625rem;
  }
  .content__text {
    font-size: 1.5rem;
  }
  .block__content.content .content__title:not(:last-child) {
    margin-bottom: 3.5625rem;
  }
  .hero__content:not(:last-child) {
    margin-bottom: 4.375rem;
  }
  .hero__content.content .content__text {
    font-size: 1.75rem;
  }
  .journey__container {
    padding-bottom: 9.375rem;
  }
  .journey__container {
    gap: 5.5rem;
  }
  .journey__content.content .content__title:not(:last-child) {
    margin-bottom: 3.75rem;
  }
  .experience__value {
    font-size: 3rem;
  }
  .experience__value:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
  .experience__text {
    font-size: 1.25rem;
  }
  .programs__header.content .content__text {
    font-size: 1.25rem;
  }
  .item-program__title {
    font-size: 1.25rem;
  }
  .item-program__text {
    font-size: 1.25rem;
  }
  .treatment__header.content .content__text {
    font-size: 1.25rem;
  }
}
@media (min-width: 75em) and (max-width: 87.5em){
}
@media (any-hover: hover){
  .button:hover {
    color: var(--white-color);
    background-color: var(--hover-color);
    border-color: var(--hover-color);
  }
  .spollers__title:hover {
    color: var(--yellow-color);
  }
  .spollers__title:hover .spollers__icon {
    background-color: var(--brand-color);
  }
}
