@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Rubik:regular,600&display=swap);
:root {
  --primary-font: "Open Sans";
  --secondary-font: "Rubik";
  --brand-color: #9e0036;
  --dark-color: #1c1c1c;
  --black-color: #000;
  --white-color: #ffff;
  --white-light-color: #f8f7f3;
  --yellow-color: #ffdc78;
  --gray-color: #d9d9d9;
  --gray-color-200: #989898;
  --gray-color-300: #4d4d4d;
  --hover-color: #650224;
  --hover-secondary-color: #f3c443
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  line-height: 1.4;
  font-family: var(--primary-font);
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button {
  font-family: var(--primary-font);
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 71.875rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.button {
  font-family: var(--secondary-font);
  font-weight: 600;
  font-size: 1.625rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  color: var(--white-color);
  transition: all .3s;
  padding: 1.125rem 3.125rem;
  border-radius: .5rem;
  background-color: var(--yellow-color);
  letter-spacing: .0325rem
}
.button_red {
  font-family: var(--primary-font);
  font-weight: 700;
  padding: 2.125rem 4.75rem;
  background-color: var(--brand-color);
  border-radius: 3.125rem
}
.button_decor {
  background-color: var(--brand-color);
  border-radius: 0;
  display: flex;
  gap: .6875rem;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 1.0625rem 2.125rem 1.0625rem 1.5rem
}
.button_decor span {
  max-width: 13.3125rem;
  text-align: left
}
.button_decor i {
  width: 3.125rem;
  height: 3.125rem
}
.button_decor::after {
  content: "";
  position: absolute;
  top: 0;
  right: -1.875rem;
  background-color: var(--yellow-color);
  width: 1.25rem;
  height: 100%;
  pointer-events: none
}
.spollers {
  display: grid
}
.spollers__item {
  font-size: 1.125rem;
  line-height: 1.25;
  border-top: .0625rem solid rgba(0,0,0,.5)
}
.spollers__item:not(:first-child) {
  border-bottom: .0625rem solid rgba(0,0,0,.5)
}
.spollers__title {
  padding: 1.375rem 2.5rem 1.375rem .625rem;
  width: 100%;
  cursor: pointer;
  text-align: left;
  position: relative;
  list-style: none;
  display: flex;
  gap: .3125rem;
  transition: opacity .3s;
  font-size: 1.125rem
}
.spollers__title._spoller-active {
  opacity: 1
}
.spollers__title::-webkit-details-marker,
.spollers__title::marker {
  display: none
}
.spollers__body {
  padding: 0 2.5rem 1.375rem 2.0625rem;
  line-height: 2;
  font-size: 1.125rem;
  font-weight: 300
}
.spollers__plus {
  width: 1.4375rem;
  height: 1.4375rem;
  position: absolute;
  top: 1.375rem;
  right: .3125rem
}
.spollers__plus::after,
.spollers__plus::before {
  content: "";
  position: absolute;
  background-color: var(--black-color)
}
.spollers__plus::before {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: .1875rem;
  width: 100%
}
.spollers__plus::after {
  height: 100%;
  width: .1875rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
._spoller-active .spollers__plus::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}
.ibg {
  position: relative
}
.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover
}
.page__about-us:not(:last-child) {
  margin-bottom: 5.9375rem
}
.page__treatment:not(:last-child) {
  margin-bottom: 5.9375rem
}
.page__comprehensive-programs:not(:last-child) {
  margin-bottom: 6.5rem
}
.page__choose-us:not(:last-child) {
  margin-bottom: 5.9375rem
}
.page__journey:not(:last-child) {
  margin-bottom: 5.9375rem
}
.page__testimonials:not(:last-child) {
  margin-bottom: 5.9375rem
}
.text p:not(:last-child) {
  margin-bottom: .625rem
}
.heading {
  display: flex;
  flex-direction: column;
  gap: .3125rem;
  line-height: 1.2;
  color: var(--white-color)
}
.heading__title {
  font-family: var(--secondary-font);
  font-weight: 600;
  line-height: 135.5%;
  letter-spacing: .0525rem;
  color: var(--black-color)
}
.heading__title_main {
  color: var(--white-color);
  letter-spacing: .0875rem
}
.heading__text {
  font-size: 1.625rem;
  font-weight: 600;
  color: var(--gray-color)
}
.heading__text:not(:last-child) {
  margin-bottom: 3.9375rem
}
._image-scale {
  will-change: transform;
  overflow: hidden
}
._image-scale img {
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s,-webkit-transform 1s
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .9375rem
}
.pagination .swiper-pagination-bullet {
  flex: 0 0 .9375rem;
  width: .9375rem;
  height: .9375rem;
  border-radius: 50%;
  background-color: var(--gray-color-200);
  transition: background-color .3s;
  cursor: pointer
}
.pagination .swiper-pagination-bullet-active {
  background-color: var(--brand-color)
}
.footer {
  background-color: var(--brand-color);
  padding: 1.25rem 0
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center
}
.footer__copy {
  color: var(--white-color);
  font-size: 1.125rem;
  line-height: 1.3;
  letter-spacing: .01125rem
}
.hero {
  position: relative
}
.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
  z-index: 2
}
.hero__container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem
}
.hero__content {
  position: relative;
  z-index: 2
}
.hero__content.heading .heading__text {
  font-size: 1.5rem
}
.hero__content.heading .heading__button {
  align-self: center
}
.hero__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover
}
.about-us {
  position: relative
}
.about-us__content {
  max-width: 43.875rem;
  position: relative;
  z-index: 2
}
.about-us__content.heading .heading__text {
  color: var(--gray-color-200)
}
.about-us__content.heading .heading__button {
  margin-right: auto
}
.treatment__container_wide {
  max-width: 80.125rem
}
.treatment__header:not(:last-child) {
  margin-bottom: 2.6875rem
}
.treatment__items {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1.25rem
}
.item-treatment__image-wrapper {
  position: relative
}
.item-treatment__image-wrapper:not(:last-child) {
  margin-bottom: 1.125rem
}
.item-treatment__image {
  display: block;
  padding-bottom: 94.6666666667%
}
.item-treatment__icon {
  position: absolute;
  bottom: 2.125rem;
  left: 0;
  width: 4.1875rem;
  height: 3.625rem;
  background-color: var(--brand-color);
  display: flex;
  justify-content: center;
  align-items: center
}
.item-treatment__icon img {
  width: 3.125rem;
  height: 3.125rem
}
.item-treatment__title {
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 135.5%;
  transition: color .3s
}
.item-treatment__title:not(:last-child) {
  margin-bottom: .625rem
}
.item-treatment__text {
  font-size: 1rem;
  color: var(--gray-color-300)
}
.comprehensive-programs__header:not(:last-child) {
  margin-bottom: 3.4375rem
}
.comprehensive-programs__body {
  display: grid;
  align-items: start;
  grid-template-columns: 31.3043478261% 1fr;
  gap: 1.25rem
}
.comprehensive-programs__label {
  display: flex;
  flex-direction: column;
  padding: 3rem 2.125rem 2.5rem 2.125rem;
  background-color: var(--brand-color);
  height: 100%
}
.comprehensive-programs__title {
  flex-grow: 1;
  color: var(--white-color);
  font-family: var(--secondary-font);
  font-size: 2rem;
  font-weight: 600;
  line-height: 135.5%;
  letter-spacing: .04rem
}
.comprehensive-programs__title:not(:last-child) {
  margin-bottom: 2.3125rem
}
.comprehensive-programs__button {
  padding-top: .75rem;
  padding-bottom: .75rem;
  margin-right: auto
}
.comprehensive-programs__button.button {
  color: var(--brand-color)
}
.comprehensive-programs__list {
  display: grid;
  gap: 1.25rem
}
.item-comprehensive-programs {
  min-height: 15.1875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative
}
.item-comprehensive-programs::after,
.item-comprehensive-programs::before {
  content: "";
  position: absolute
}
.item-comprehensive-programs::before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.5);
  z-index: 1
}
.item-comprehensive-programs::after {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 95%;
  height: 95%;
  border: .0625rem solid #fff;
  z-index: 3
}
.item-comprehensive-programs__content {
  position: relative;
  z-index: 2;
  padding: 1.25rem;
  color: var(--white-color);
  line-height: 1.3;
  font-family: var(--secondary-font)
}
.item-comprehensive-programs__title {
  font-size: 1.625rem;
  font-weight: 600
}
.item-comprehensive-programs__title:not(:last-child) {
  margin-bottom: .3125rem
}
.item-comprehensive-programs__text {
  max-width: 15rem;
  margin: 0 auto
}
.item-comprehensive-programs img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover
}
.choose-us__container {
  display: flex;
  flex-direction: row-reverse
}
.choose-us__image {
  flex: 0 0 46%;
  padding-bottom: 48.607143%;
  position: relative
}
.choose-us__content {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
  color: var(--white-color)
}
.choose-us__content ul li {
  font-size: 1.625rem;
  font-weight: 600;
  letter-spacing: .0325rem;
  display: flex;
  gap: .75rem
}
.choose-us__content ul li::before {
  content: "";
  position: relative;
  top: .125rem;
  flex: 0 0 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
  background: url(../img/icons/check.webp) 0 0/contain no-repeat
}
.choose-us__content ul li:not(:last-child) {
  margin-bottom: 1.25rem
}
.choose-us__title {
  font-family: var(--secondary-font);
  font-weight: 600;
  letter-spacing: .0525rem
}
.choose-us__button {
  margin-right: auto
}
.journey__header:not(:last-child) {
  margin-bottom: 3.4375rem
}
.journey__items {
  display: grid;
  gap: 1.25rem
}
.item-journey {
  color: var(--white-color);
  min-height: 13.4375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.25rem;
  font-weight: 600
}
.item-journey_red {
  background-color: var(--brand-color)
}
.item-journey_yellow {
  color: var(--black-color);
  background-color: var(--yellow-color)
}
.item-journey_gray {
  background-color: var(--gray-color-300)
}
.item-journey__step {
  font-family: var(--secondary-font);
  font-size: 2rem;
  line-height: 135.5%;
  letter-spacing: .04rem
}
.item-journey__step:not(:last-child) {
  margin-bottom: 1.875rem
}
.item-journey__title {
  font-size: 1.375rem
}
.testimonials__header:not(:last-child) {
  margin-bottom: 2.6875rem
}
.testimonials__slider {
  padding: 1.25rem;
  margin: 0 -1.25rem
}
.testimonials__pagination {
  margin-top: 2.5rem
}
.slide-testimonial {
  text-align: center;
  box-shadow: .25rem .25rem .375rem .1875rem rgba(0,0,0,.15)
}
.slide-testimonial__top {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--brand-color);
  min-height: 5.25rem;
  position: relative
}
.slide-testimonial__top::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%,100%);
  transform: translate(-50%,100%);
  width: 0;
  height: 0;
  border-left: 1.1875rem solid transparent;
  border-right: 1.1875rem solid transparent;
  border-top: 1.75rem solid var(--brand-color)
}
.slide-testimonial__name {
  color: #fff;
  font-family: var(--secondary-font);
  font-size: 1.625rem;
  font-weight: 600;
  line-height: 135.5%;
  letter-spacing: .0325rem;
  padding: .625rem
}
.slide-testimonial__quote {
  color: var(--gray-color-200);
  font-size: 1rem;
  padding: 4.3125rem 1.4375rem 1.4375rem 1.4375rem;
  font-weight: 600
}
.faq__title {
  font-family: var(--secondary-font);
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 135.5%;
  letter-spacing: .05rem;
  text-align: center
}
.faq__title:not(:last-child) {
  margin-bottom: 2.625rem
}
.faq__body {
  border-radius: .75rem;
  background-color: var(--white-light-color);
  padding: 3.25rem 3.625rem 5.125rem 3.625rem
}
.contact {
  background-color: var(--brand-color)
}
.contact__container {
  padding-top: 3.625rem;
  padding-bottom: 3.625rem;
  border-bottom: .0625rem solid #fff;
  display: grid;
  align-items: start
}
.contact__title {
  color: var(--white-color);
  font-family: var(--secondary-font);
  font-size: 2rem;
  font-weight: 600;
  line-height: 135.5%;
  letter-spacing: .02875rem
}
.contact__button.button {
  padding: .75rem 2.75rem;
  color: var(--brand-color)
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:29.99875em) {
  .hero__container {
    min-height: 100vh
  }
}
@media (min-width:47.99875em) {
  .about-us {
    padding-top: 9.375rem;
    padding-bottom: 5.625rem
  }
  .about-us::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(270deg,rgba(248,247,243,0) 7.62%,#f8f7f3 58.45%);
    z-index: 1
  }
  .about-us__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover
  }
  .comprehensive-programs__list {
    grid-template-columns: repeat(2,1fr)
  }
  .choose-us {
    background-color: var(--gray-color-300)
  }
  .choose-us__image {
    min-width: calc(46% + (100vw - (71.875rem + 1.875rem))/ 2)
  }
  .choose-us__content {
    flex: 0 0 57.3913043478%;
    padding: 2.5625rem 0 1.9375rem 0;
    align-self: center;
    min-width: 50%
  }
  .journey__header {
    text-align: center
  }
  .journey__items {
    grid-template-columns: repeat(3,1fr)
  }
  .faq__body {
    max-width: 67.5rem;
    margin: 0 auto
  }
  .contact__container {
    grid-template-columns: 1fr 12.5rem
  }
}
@media (min-width:47.99875em) and (min-width:71.875em) {
  .choose-us__content {
    padding-left: 7.5625rem
  }
}
@media (min-width:61.99875em) {
  .treatment__header {
    margin-left: 4.6875rem
  }
}
@media (min-width:71.875em) {
  .heading__title {
    font-size: 2.625rem
  }
  .heading__title_main {
    font-size: 4.375rem
  }
  .choose-us__title {
    font-size: 2.625rem
  }
  .contact__container {
    gap: 7.5625rem
  }
}
@media (max-width:20em) {
  .heading__title {
    font-size: 1.5rem
  }
  .heading__title_main {
    font-size: 1.3125rem
  }
  .choose-us__title {
    font-size: 1.375rem
  }
}
@media (max-width:61.99875em) {
  .treatment__items {
    grid-template-columns: repeat(2,1fr)
  }
  .comprehensive-programs__label {
    padding: 1.875rem .9375rem 1.875rem .9375rem
  }
  .comprehensive-programs__title {
    font-size: 1.5rem
  }
  .comprehensive-programs__button {
    width: 100%
  }
  .comprehensive-programs__button.button {
    padding-left: .625rem;
    padding-right: .625rem
  }
  .comprehensive-programs__list {
    gap: .625rem
  }
  .choose-us__content ul li {
    font-size: 1.25rem
  }
}
@media (max-width:47.99875em) {
  .spollers__item {
    font-size: 1rem
  }
  .spollers__body {
    font-size: .875rem;
    padding: 0 1.5625rem .625rem .625rem
  }
  .spollers__plus::before {
    height: .0625rem
  }
  .spollers__plus::after {
    width: .0625rem
  }
  .page__hero:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .page__about-us:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .page__treatment:not(:last-child):not(:last-child) {
    margin-bottom: 2.5rem
  }
  .page__comprehensive-programs:not(:last-child):not(:last-child) {
    margin-bottom: 2.5rem
  }
  .page__choose-us:not(:last-child):not(:last-child) {
    margin-bottom: 2.5rem
  }
  .page__journey:not(:last-child):not(:last-child) {
    margin-bottom: 2.5rem
  }
  .page__testimonials:not(:last-child):not(:last-child) {
    margin-bottom: 5.1875rem
  }
  .footer__copy {
    font-size: .875rem
  }
  .hero__content.heading .heading__text:not(:last-child) {
    margin-bottom: 1.4375rem
  }
  .hero__content.heading .heading__button {
    padding: .9375rem 1.5625rem;
    font-size: 1rem
  }
  .about-us {
    display: flex;
    flex-direction: column
  }
  .about-us__container {
    order: 2
  }
  .about-us__content.heading .heading__text:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .about-us__content {
    padding: 1.5625rem .75rem 2.3125rem .75rem;
    background-color: var(--white-light-color)
  }
  .about-us__image {
    width: 100%;
    padding: 0 .9375rem
  }
  .treatment__header:not(:last-child) {
    margin-bottom: .9375rem
  }
  .comprehensive-programs__header:not(:last-child) {
    margin-bottom: .9375rem
  }
  .comprehensive-programs__body {
    grid-template-columns: auto
  }
  .comprehensive-programs__label {
    display: none
  }
  .comprehensive-programs__title:not(:last-child) {
    margin-bottom: 0
  }
  .choose-us {
    display: none
  }
  .choose-us__container {
    flex-direction: column
  }
  .choose-us__image {
    padding-bottom: 80.607143%;
    order: 1
  }
  .choose-us__content {
    padding-left: 0;
    order: 2;
    background-color: var(--gray-color-300);
    padding: 1.25rem
  }
  .journey__header:not(:last-child) {
    margin-bottom: 2.25rem
  }
  .item-journey__step:not(:last-child) {
    margin-bottom: 1.125rem
  }
  .item-journey__title:not(:last-child) {
    margin-bottom: 1rem
  }
  .testimonials__header:not(:last-child) {
    margin-bottom: 1rem
  }
  .faq__title {
    font-size: 1.5rem
  }
  .faq__title:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .faq__body {
    margin: 0 -1.25rem;
    padding: 1.875rem 1.25rem 2.875rem 1.25rem
  }
  .contact__container {
    gap: 1.875rem
  }
  .contact__container {
    gap: 1.125rem
  }
  .contact__button {
    margin-right: auto
  }
}
@media (max-width:34.375em) {
  .treatment__items {
    grid-template-columns: auto;
    gap: 1.5rem
  }
}
@media (max-width:29.99875em) {
  .button {
    padding: .4375rem 1.6875rem;
    font-size: 1rem
  }
  .button_decor span {
    max-width: 7.6875rem
  }
  .button_decor i {
    width: 1.25rem;
    height: 1.25rem
  }
  .button_decor {
    font-size: 1.0625rem;
    padding: .375rem .625rem
  }
  .spollers__title {
    font-size: .75rem
  }
  .spollers__body {
    font-size: .625rem
  }
  .spollers__plus {
    width: .625rem;
    height: .625rem
  }
  .heading__text {
    font-size: 1rem
  }
  .pagination .swiper-pagination-bullet {
    flex: 0 0 .4375rem;
    width: .4375rem;
    height: .4375rem
  }
  .pagination {
    gap: .5rem
  }
  .footer {
    padding: .8125rem 0
  }
  .hero__container {
    min-height: 14rem
  }
  .hero__content.heading .heading__text {
    font-size: .875rem
  }
  .item-comprehensive-programs {
    min-height: 12.8125rem
  }
  .item-comprehensive-programs__title {
    font-size: 1.375rem
  }
  .item-comprehensive-programs__text {
    font-size: 1.0625rem
  }
  .choose-us__content ul li {
    font-size: .875rem;
    gap: .3125rem
  }
  .choose-us__content ul li::before {
    top: .125rem;
    flex: 0 0 .9375rem;
    width: .9375rem;
    height: .9375rem
  }
  .choose-us__content ul li:not(:last-child) {
    margin-bottom: .625rem
  }
  .item-journey {
    min-height: 11.0625rem
  }
  .item-journey__step {
    font-size: 1.625rem
  }
  .item-journey__title {
    font-size: 1.125rem
  }
  .item-journey__text {
    font-size: 1rem
  }
  .testimonials__pagination {
    margin-top: 1.25rem
  }
  .slide-testimonial__name {
    font-size: 1.375rem
  }
  .slide-testimonial__quote {
    font-size: .875rem;
    padding: 3rem 1.4375rem 3.4375rem 1.4375rem
  }
  .contact__container {
    padding-top: 1.6875rem;
    padding-bottom: 1.4375rem
  }
  .contact__title {
    font-size: 1.5rem
  }
  .contact__button.button {
    font-size: 1.625rem
  }
}
@media (min-width:20em) and (max-width:71.875em) {
  @supports (font-size:clamp(1.5rem ,1.0662650602rem + 2.1686746988vw ,2.625rem)) {
    .heading__title {
      font-size: clamp(1.5rem ,1.0662650602rem + 2.1686746988vw ,2.625rem)
    }
  }
  @supports not (font-size:clamp(1.5rem ,1.0662650602rem + 2.1686746988vw ,2.625rem)) {
    .heading__title {
      font-size: calc(1.5rem + 1.125 * (100vw - 20rem)/ 51.875)
    }
  }
  @supports (font-size:clamp(1.3125rem ,0.1317771084rem + 5.9036144578vw ,4.375rem)) {
    .heading__title_main {
      font-size: clamp(1.3125rem ,.1317771084rem + 5.9036144578vw ,4.375rem)
    }
  }
  @supports not (font-size:clamp(1.3125rem ,0.1317771084rem + 5.9036144578vw ,4.375rem)) {
    .heading__title_main {
      font-size: calc(1.3125rem + 3.0625 * (100vw - 20rem)/ 51.875)
    }
  }
  @supports (font-size:clamp(1.375rem ,0.8930722892rem + 2.4096385542vw ,2.625rem)) {
    .choose-us__title {
      font-size: clamp(1.375rem ,.8930722892rem + 2.4096385542vw ,2.625rem)
    }
  }
  @supports not (font-size:clamp(1.375rem ,0.8930722892rem + 2.4096385542vw ,2.625rem)) {
    .choose-us__title {
      font-size: calc(1.375rem + 1.25 * (100vw - 20rem)/ 51.875)
    }
  }
}
@media (min-width:47.99875em) and (max-width:61.99875em) {
  .about-us__image {
    -o-object-position: right;
    object-position: right
  }
  .item-comprehensive-programs__title {
    font-size: 1.25rem
  }
  .item-comprehensive-programs__text {
    font-size: 1.125rem
  }
  .item-journey__title {
    font-size: 1.25rem
  }
  .item-journey__text {
    font-size: 1.125rem
  }
}
@media (min-width:47.99875em) and (min-width:47.99875em) and (max-width:71.875em) {
  @supports (padding-left:clamp(1.875rem ,-9.5586585781rem + 23.8207423695vw ,7.5625rem)) {
    .choose-us__content {
      padding-left: clamp(1.875rem ,-9.5586585781rem + 23.8207423695vw ,7.5625rem)
    }
  }
  @supports not (padding-left:clamp(1.875rem ,-9.5586585781rem + 23.8207423695vw ,7.5625rem)) {
    .choose-us__content {
      padding-left: calc(1.875rem + 5.6875 * (100vw - 47.99875rem)/ 23.87625)
    }
  }
}
@media (min-width:47.99875em) and (max-width:47.99875em) {
  .choose-us__content {
    padding-left: 1.875rem
  }
}
@media (min-width:47.99875em) and (max-width:71.875em) {
  @supports (gap:clamp(1.875rem ,-9.5586585781rem + 23.8207423695vw ,7.5625rem)) {
    .contact__container {
      gap: clamp(1.875rem ,-9.5586585781rem + 23.8207423695vw ,7.5625rem)
    }
  }
  @supports not (gap:clamp(1.875rem ,-9.5586585781rem + 23.8207423695vw ,7.5625rem)) {
    .contact__container {
      gap: calc(1.875rem + 5.6875 * (100vw - 47.99875rem)/ 23.87625)
    }
  }
}
@media (any-hover:hover) {
  .button:hover {
    background-color: var(--hover-secondary-color)
  }
  .button_red:hover {
    background-color: var(--hover-color)
  }
  .button_decor:hover {
    background-color: var(--hover-color)
  }
  .spollers__title:hover {
    opacity: .5
  }
  ._image-scale:hover img {
    -webkit-transform: scale(1.005);
    transform: scale(1.005)
  }
  .item-treatment__title:hover {
    color: var(--brand-color)
  }
}