* {
    --ff-main: "Marcellus", serif;

    box-sizing: border-box;
    font-family: var(--ff-main);
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}
body {
    background-color: #fff;
}
button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    display: block;
}
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}
a,
button {
    transition: .4s all linear;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    padding: 16px 28px;
    color: #fff;
    background: #0b0449;
    text-decoration: none;
    width: fit-content;
}
a:hover,
button:hover{
    background: #1202a1;
}
.header {
    background: linear-gradient(
        90deg,
        rgba(241, 248, 252, 0.9) 47.58%,
        rgba(241, 248, 252, 0.9) 62.54%
    );
    display: flex;
    align-items: center;
}
.header__image-box{
    position: relative;
}
.header__image-box::after{
    position: absolute;
    content:"";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(248, 252, 254, 0) 67.23%, rgba(241, 248, 252, 0.9));
}
.container {
    max-width: 1316px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
.header__inner {
    margin-left: 18px;
    max-width: 631px;
    width: 100%;
    padding: 216px 0;
}
.header__title {
    font-weight: 400;
    font-size: 72px;
    color: #0b0449;
}
.header__subtitle {
    font-family: "Lato", sans-serif;
    margin: 30px 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 200%;
    color: #313037;
}
.support {
    padding: 100px 0;
}
.support__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.support__content {
    max-width: 523px;
    width: 100%;
}
.title {
    font-weight: 400;
    font-size: 48px;
    color: #0b0449;
    text-align: center;
}
.subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #7a7a7a;
}
.support__content > .title {
    text-align: start;
}
.support__content > .subtitle {
    margin: 40px 0;
}
.care {
    padding-bottom: 70px;
}
.care__inner > .subtitle {
    text-align: center;
    margin: 32px 0 60px;
}
.care__boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}
.care__box {
    position: relative;
    width: 375px;
    height: 364px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 100%;
    background-color: #f5ecee;
    padding: 74px;
}
.care__box-number {
    position: absolute;
    top: 16px;
    left: 13px;
    width: 80px;
    height: 80px;
    background-color: #0b0449;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-align: center;
    color: #fff;
    border-radius: 100%;
    border: 6px solid #fff;
}
.care__box-title {
    font-size: 28px;
    line-height: 143%;
    text-align: center;
    color: #0b0449;
    margin-bottom: 33px;
}
.care__box-text {
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #7a7a7a;
}
.care__paragraph {
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #313037;
}
.program {
    padding: 100px 0 119px;
    background: #fcf9f5;
}
.program__inner > .subtitle {
    margin: 24px 0 60px;
    text-align: center;
}
.program__boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.program__box {
    border-radius: 80px 0;
    padding: 36px 50px;
    background: #f5ecee;
    max-width: 416px;
    width: 100%;
    min-height: 170px;
}
.program__box-title {
    font-size: 28px;
    text-align: center;
    color: #0b0449;
    margin-bottom: 10px;
}
.program__box-text {
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #313037;
}
.program__paragraph {
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #7a7a7a;
    margin-bottom: 50px;
    margin-top: 60px;
}
.program__link {
    margin: 0 auto;
}
.feedback {
    padding: 100px 0;
}
.feedback__boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}
.feedback__box {
    padding: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    border-radius: 10px;
    max-width: 306px;
    width: 100%;
    min-height: 290px;
    margin-right: 10px;
}
.feedback__box:last-of-type{
    margin-right: 0;
}
.feedback__box-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feedback__box-comment {
    display: flex;
    align-items: center;
}
.feedback__box-thumbnail {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 10px;
    object-fit: cover;
}
.feedback__box-user {
    font-weight: 700;
    font-size: 16px;
    color: #313037;
}
.feedback__box-days {
    display: block;
    font-weight: 400;
    font-size: 12px;
    color: #313037;
    margin-top: 4px;
}
.feedback__box-starts {
    margin: 20px 0;
}
.feedback__box-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #7a7a7a;
    max-height: 154px;
    overflow: hidden;
}
.why {
    padding-bottom: 91px;
}
.why__boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 77px;
}
.why__box {
    border-radius: 80px 0;
    padding: 80px 24px 24px 24px;
    background: #f5ecee;
    position: relative;
    max-width: 306px;
    width: 100%;
    min-height: 282px;
    margin-right: 10px;
}
.why__box-number {
    border-radius: 100%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0b0449;
    border: 6px solid #fff;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    color: #fff;
    position: absolute;
    left: -3px;
    top: -10px;
}
.why__box-title {
    font-size: 28px;
    line-height: 143%;
    text-align: center;
    color: #0b0449;
    margin-bottom: 20px;
}
.why__box-text {
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #7a7a7a;
}
.team {
    /* background: linear-gradient(
        90deg,
        rgba(241, 248, 252, 0.9) 47.58%,
        rgba(241, 248, 252, 0.9) 62.54%
    ); */
    background: #FFF;
}
.team__inner {
    display: flex;
    align-items: center;
}
.team__content {
    max-width: 592px;
    width: 100%;
    margin-left: 48px;
}
.team__content > .title {
    text-align: start;
}
.team__content > .subtitle {
    margin: 40px 0;
}
.journey {
    padding: 100px 0;
}
.journey__inner > .subtitle {
    text-align: center;
    margin: 32px 0 60px;
}
.journey__boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 77px;
}
.journey__box {
    border-radius: 100%;
    padding: 82px 51px 51px;
    background: #fff;
    border: 4px solid #0b0449;
    position: relative;
    max-width: 320px;
    width: 100%;
    min-height: 320px;
}
.journey__box-number {
    border-radius: 100%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0b0449;
    border: 6px solid #fff;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 11px;
    top: 14px;
}
.journey__box-title {
    font-size: 28px;
    line-height: 143%;
    text-align: center;
    color: #0b0449;
    margin-bottom: 20px;
}
.journey__box-text {
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #7a7a7a;
}
.journey__link {
    margin: 60px auto 0;
}
.footer {
    padding: 90px 0 30px;
    background-image: url(../content/footer.png);
}
.footer__title {
    color: #fff;
    font-size: 48px;
    text-align: center;
}
.footer__subtitle {
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    opacity: 0.5;
    margin: 40px 0;
    color: #fff;
}
.footer__link {
    background-color: transparent;
    border: 1px solid #fff;
    margin: 0 auto 126px;
}
.copyright {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #fff;
}
.copyright > span{
    font-weight: 400;
}

/* Popup insurance */

:root {
  font-size: 10px;
  /* Colors */
  --accent-color: #595959;
  --accent-hover-color: #222222;
  --error-color: #9D2424;
  --h-color: #222222;
  --text-color: #595959;
  --white: #FFFFFF;
  --background-page: #F9FAFB;
  --input-border-color: rgba(34, 34, 34, 0.25);

  /* Shadows */
  --box-shadow-md: 0px 12px 32px rgba(34, 34, 34, 0.1), 0px 6px 12px rgba(34, 34, 34, 0.05);
  --box-shadow-around: 0px 0px 12px 0px rgba(34, 34, 34, 0.05), 0px 0px 32px 0px rgba(34, 34, 34, 0.10);
  /* Sizes */
  --gap-xl: 4rem;
  --gap-lg: 3.2rem;
  --gap-md: 2.4rem;
  --gap-sm: 1.6rem;
  --gap-ss: 1.2rem;
  --gap-xs: .8rem;
}


.popup-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(28, 28, 30, 0.7);
  height: 100vh;
  width: 100vw;
  transform: scale(0);
  opacity: 0;
  z-index: -1;
  transition: all 0.7s;
  cursor: pointer;
}

.popup-modal > * {
  cursor: auto;
}

.popup-modal.visible {
  transform: scale(1);
  opacity: 1;
  z-index: 4;
}

.popup-modal .popup-modal__content {
  background-color: var(--white);
  padding: var(--gap-md);
  max-width: 90%;
}

.popup-modal__close {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  right: 6.4rem;
  top: var(--gap-lg);
  transition: all 0.45s 0s;
  height: 6.4rem;
  width: 6.4rem;
}

.popup-modal.visible .popup-modal__close {
  cursor: pointer;
  opacity: 1;
}

.popup-modal__close span {
  border-radius: 2px;
  display: block;
  margin-left: calc(50% - 1.6rem);
  margin-top: calc(50% - 2px);
  position: absolute;
  background-color: var(--background-page);
  height: 4px;
  width: var(--gap-lg);
  transition: all 0.35s;
}

.popup-modal__close span:first-child {
  transform: rotate(45deg);
}

.popup-modal__close span:last-child {
  transform: rotate(-45deg);
}

.popup-modal.visible .popup-modal__close:hover span {
  background-color: var(--accent-color);
}


@media (max-width: 992px) {
  .popup-modal > form + .popup-modal__close {
    top: 6rem;
    right: var(--gap-md);
    transform: translateY(-50%);
  }

  .popup-modal > form + .popup-modal__close span {
    background-color: var(--h-color);
  }
}

@media (max-width: 768px) {
  .popup-modal video {
    height: 32rem;
    width: calc(100% - var(--gap-lg));
}

.popup-modal__close {
    height: var(--gap-lg);
    width: var(--gap-lg);
    top: 12rem;
    right: var(--gap-lg);
  }
  
  .popup-modal > form + .popup-modal__close {
    top: 3.6rem;
  }

  .popup-modal .popup-modal__content {
    padding: var(--gap-ss);
  }

}

@keyframes animation-opacity { 
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.insurance-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  min-width: 40%;
  max-height: 100%;
  overflow-y: auto;
}

@media (max-width: 992px) {
  .insurance-modal {
    min-width: 100%;
    height: 100%;
    padding-top: 0;
  }

  .insurance-modal h2 {
    position: sticky;
    top: 0;
    background-color: var(--white);
    padding: var(--gap-xl) 0;
    z-index: 1;
  }
}

@media (max-width: 768px) {
  .insurance-modal h2 {
    padding: var(--gap-sm) 0;
  }
}

.forms {
  background-color: var(--white);
  box-shadow: var(--box-shadow-around);
  padding: var(--gap-xl);
}

.forms button {
  cursor: pointer;
  border: none;
  min-width: max-content;
  margin: 0 auto;
}

.forms h2 {
  margin-bottom: var(--gap-md);
}

.forms label {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6rem;
  margin-bottom: var(--gap-xs);
  letter-spacing: 0.05rem;
  text-transform: capitalize;
}

.forms label .input__required {
  color: var(--error-color);
}

.forms  .input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.forms  .input-group {
  display: flex;
  column-gap: var(--gap-md);
  margin-bottom: var(--gap-md);
}

.forms input, textarea {
  font-family: var(--userfont);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  padding: var(--gap-sm);
  border: 1.5px solid var(--input-border-color);
  background: var(--white);
  transition: border .35s;
  outline: none;
  /* border-radius: 27px; */
}

.forms input::placeholder, textarea::placeholder {
  opacity: 0.6;
  transition: border-color .35s;
}

.forms textarea {
  height: 14.4rem;
  resize: none;
  margin-bottom: var(--gap-md);
}

.forms input:focus,
.forms textarea:focus,
.forms input:active,
.forms textarea:active {
  border-color: var(--accent-color);
}

input,
textarea,
::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  font-family: var(--userfont);
}

.forms .form-dropdown__list .form-dropdown__link input[type="radio"] {
  display: none;
  transition: all .35s;
}

.forms .form-dropdown {
  position: relative;
  margin-bottom: var(--gap-md);
}

.forms .form-dropdown .form-dropdown__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--userfont);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  padding: var(--gap-sm);
  border: 1.5px solid var(--input-border-color);
  background: var(--white);
  transition: border .35s;
  outline: none;
  cursor: pointer;
} 

.form-dropdown__button-content {
  color: var(--text-color);
  opacity: 0.6;
}

.form-dropdown__list {
  position: absolute;
  background: var(--white);
  box-shadow: var(--box-shadow-md);
  width: 100%;
  left: 0;
  top: calc(100% + .4rem);
  transform: translateY(-1rem);
  opacity: 0;
  transition: opacity .35s ease-in-out, transform .35s ease-in-out;
  pointer-events: none;
}

.form-dropdown.active > .form-dropdown__button + .form-dropdown__list {
  transform: translateY(0);
  opacity: 1;
  z-index: 1;
  pointer-events: visible;
}

.form-dropdown > .form-dropdown__button svg {
  transition: all .5s;
}

.form-dropdown.active > .form-dropdown__button svg {
  rotate: -180deg;
}

.forms .form-dropdown__list .form-dropdown__link label {
  display: block;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
  margin-bottom: 0;
  padding: var(--gap-ss) var(--gap-sm);
  cursor: pointer;
}

.forms .form-dropdown__link input[type="radio"] + label:hover {
  color: var(--background-page);
  background-color: var(--accent-hover-color);
}

.forms .form-dropdown__link input[type="radio"]:checked + label {
  background-color: var(--accent-color);
  color: var(--background-page);
}

.forms h2 {
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: -0.01rem;
  margin-bottom: 1.6rem;
}

.error-message {
  color: var(--error-color);
  font-size: 0.9rem;
  display: none;
  margin-top: 5px;
}

.input.invalid .error-message {
  display: block;
}

.input.invalid input {
  border-color: var(--error-color);
}



@media (max-width: 768px) {
  .forms {
    padding: 0 var(--gap-sm) var(--gap-md);
  }

  .forms  h2 {
    font-size: 3.2rem;
    line-height: 4rem;
  }

  .forms input {
    min-width: 100%;
  }

  .forms  .input-group {
    flex-direction: column;
    gap: var(--gap-sm);
  }

  .forms button {
    min-width: 100%;
  }
}

.no-scroll {
  overflow-y: hidden;
  height: 100%;
}

.top-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}
