@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Rethink+Sans:regular,500,600,700,800&display=swap");
:root {
  --red-color: #91171f;
  --dark-red-color: #341d1d;
  --black-color: #000;
  --white-color: #ffffff;
  --white-light-color: #e3e3e3;
  --gray-color: #26272b;
  --hover-color: #df0e1c;
  --f-family-01: "Rethink Sans";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1.2;
  font-family: var(--f-family-01);
  color: var(--gray-color);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button {
  font-family: var(--f-family-01);
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3 {
  font-weight: inherit;
  font-size: inherit;
}

[class*=__container] {
  max-width: 79.5rem;
  margin: 0 auto;
  padding: 0 2.25rem;
}

.ibg {
  position: relative;
}
.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.ibg_contain img {
  -o-object-fit: contain;
     object-fit: contain;
}

.content {
  display: grid;
  gap: 0.625rem;
}
.content_center {
  text-align: center;
}
.content form {
  margin-top: 0.625rem;
}
.content__text_white {
  color: var(--white-color);
}

.title {
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 1.1;
}
.title span {
  font-weight: 800;
  font-style: italic;
}
.title_600 {
  font-weight: 600;
}
.title_white {
  color: var(--white-color);
}

.text strong {
  display: block;
  font-size: 1.4375rem;
}

.text > *:not(:last-child) {
  margin-bottom: 1.0625rem;
}

._grid-2-columns {
  display: grid;
  align-items: center;
}

._section-padding {
  padding: 3.75rem 0;
}

.gradient-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.gradient-img_red::before {
  background: linear-gradient(0deg, rgba(52, 29, 29, 0.7) 0%, rgba(52, 29, 29, 0.7) 100%);
}

body {
  font-size: 1.25rem;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding: 0.3125rem 0;
  background-color: var(--dark-red-color);
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 2rem;
}
.call-us {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--white-color);
}
.call-us__icon {
  width: 1.5625rem;
  flex: 0 0 1.5625rem;
  height: 1.5625rem;
}
.call-us__number {
  font-weight: 500;
}

.hero {
  position: relative;
  margin-top: 2.625rem;
}
.hero__container {
  position: relative;
  z-index: 2;
}
.hero__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-us {
  position: relative;
  z-index: 3;
}
.about-us__content {
  padding: 1rem 1.375rem 1.75rem 1.375rem;
  margin: 0 -1.375rem;
  background-color: var(--white-light-color);
}
.about-us__content:not(:last-child) {
  margin-bottom: 1.5rem;
}
.about-us__body {
  display: grid;
  gap: 1.5rem;
  text-align: center;
}
.about-us__body form .button_wide {
  padding-left: 3.125rem;
  padding-right: 3.125rem;
}
.about-us__text strong {
  font-size: 1.25rem;
}
.benefits__content:not(:last-child) {
  margin-bottom: 3.75rem;
}
.benefits__items {
  padding: 1.375rem 0.6875rem 1.375rem 1.6875rem;
  background-color: var(--white-light-color);
  display: grid;
}
.benefits__image {
  padding-bottom: 100%;
}

.item-benefits {
  display: flex;
  gap: 1.875rem;
  align-items: start;
}
.item-benefits__icon {
  width: 3.75rem;
  flex: 0 0 3.75rem;
  height: 3.75rem;
}
.item-benefits__title {
  font-weight: 700;
}

.testimonials {
  color: var(--white-color);
  position: relative;
  background-color: var(--dark-red-color);
}
.testimonials__container > * {
  position: relative;
  z-index: 2;
}
.testimonials__content:not(:last-child) {
  margin-bottom: 3.125rem;
}
.testimonials__body {
  max-width: 50rem;
  margin: 0 auto;
  position: relative;
}
.testimonials__body:not(:last-child) {
  margin-bottom: 2.9375rem;
}
.testimonials__body::before {
  content: "";
  position: absolute;
  top: -5.625rem;
  left: 0;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQxIiBoZWlnaHQ9IjEyMyIgdmlld0JveD0iMCAwIDE0MSAxMjMiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0zMi4xNjUgNjYuNDQ0OUg1NS40NzVWMTIyLjVIMC41Mjk5OTlWNjYuNDQ0OUwyMy44NCAwLjM5OTkwMkg0NC4zNzVMMzIuMTY1IDY2LjQ0NDlaTTExNy42MzUgNjYuNDQ0OUgxNDAuOTQ1VjEyMi41SDg2VjY2LjQ0NDlMMTA5LjMxIDAuMzk5OTAySDEyOS44NDVMMTE3LjYzNSA2Ni40NDQ5WiIgZmlsbD0id2hpdGUiIGZpbGwtb3BhY2l0eT0iMC4xOSIvPgo8L3N2Zz4K");
  width: 8.75rem;
  height: 7.625rem;
  background-repeat: no-repeat;
  background-size: contain;
}
.testimonials__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-testimonials {
  display: grid;
  gap: 3.25rem;
  font-weight: 500;
}
.slide-testimonials__quote {
  font-size: 1.3125rem;
  padding: 0 4.125rem;
}

.user {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1.5625rem;
}
.user__avatar {
  flex: 0 0 4.375rem;
  width: 4.375rem;
  height: 4.375rem;
  border-radius: 50%;
  overflow: hidden;
}
.user__name {
  font-size: 1.0625rem;
}
.user__name::before {
  content: "—";
  margin-right: 0.1875rem;
}
.call-center._section-padding {
  padding-top: 3.375rem;
  padding-bottom: 3.375rem;
}

.get-started {
  position: relative;
  margin-bottom: 4.1875rem;
  padding-top: 6.25rem;
}
.get-started__container {
  position: relative;
  z-index: 2;
}
.get-started__content form {
  justify-self: center;
  margin-bottom: -1.375rem;
}
.get-started__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.button {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 0.3125rem;
  background-color: var(--red-color);
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.31);
  color: var(--white-color);
  padding: 0.5625rem 1.5625rem;
  font-weight: 700;
  transition: background-color 0.3s;
}
.button_small-size {
  font-size: 1.0625rem;
  padding-top: 0.6875rem !important;
  padding-bottom: 0.6875rem !important;
}
.button_extra-bold {
  font-weight: 800;
}
.button_wide {
  padding: 0.5625rem 2rem;
}

.navigation {
  position: absolute;
  top: 15%;
  width: 100%;
  height: 3.125rem;
  pointer-events: none;
}
.navigation__btn {
  position: absolute;
  flex: 3rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjgiIHZpZXdCb3g9IjAgMCAyNCAyOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIzIDE1LjczMkMyNC4zMzMzIDE0Ljk2MjIgMjQuMzMzMyAxMy4wMzc4IDIzIDEyLjI2NzlMMy41IDEuMDA5NjJDMi4xNjY2NyAwLjIzOTgxOCAwLjUwMDAwMSAxLjIwMjA3IDAuNTAwMDAxIDIuNzQxNjdMMC41IDI1LjI1ODNDMC41IDI2Ljc5NzkgMi4xNjY2NyAyNy43NjAyIDMuNSAyNi45OTA0TDIzIDE1LjczMloiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=");
  background-repeat: no-repeat;
  background-size: 1.8125rem 1.8125rem;
  background-position: 0.5rem;
  transition: opacity 0.3s;
  border: 0.1875rem solid var(--white-color);
}
.navigation__btn_prev {
  left: -1.5rem;
  transform: rotate(180deg);
}
.navigation__btn_next {
  right: -1.5rem;
}
.navigation__btn.swiper-button-disabled {
  display: none;
}
@media (max-width: 47.99875em){
  .title {
    font-size: 2.375rem;
  }
  .title_middle {
    font-size: 2rem;
  }
  .title_small {
    font-size: 1.875rem;
  }
  ._grid-2-columns {
    gap: 1.25rem;
  }
  ._section-padding {
    padding: 1.875rem 0;
  }
  .hero {
    padding: 0 0 0.9375rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
  .hero__container {
    order: 2;
  }
  .hero__container form {
    justify-self: center;
  }
  .hero__image {
    order: 1;
    position: relative;
    padding-bottom: 59%;
  }
  .about-us__content.content {
    gap: 1.5rem;
  }
  .about-us._section-padding {
    padding-top: 0.9375rem;
    padding-bottom: 1.375rem;
  }
  .benefits__body._grid-2-columns {
    gap: 1.9375rem;
  }
  .benefits__content.content {
    gap: 1.875rem;
  }
  .benefits__content {
    order: 2;
  }
  .benefits__items {
    order: 3;
    gap: 2.5rem;
  }
  .benefits__image {
    order: 1;
    margin: 0 -2.25rem;
    padding-bottom: 85.2%;
  }
  .benefits._section-padding {
    padding-top: 1.375rem;
    padding-bottom: 2.625rem;
  }
  .testimonials__content.content {
    gap: 1.3125rem;
  }
  .testimonials._section-padding {
    padding-top: 3.0625rem;
    padding-bottom: 3.5625rem;
  }
  .call-center__content.content {
    gap: 1.25rem;
  }
  .get-started__content.content .content__text {
    max-width: 19.6875rem;
  }
}
@media (max-width: 29.99875em){
  .hero__content.content .content__text {
    max-width: 20rem;
    margin: 0 auto;
  }
  .testimonials__content.content .content__title {
    max-width: 18.75rem;
  }
  .slide-testimonials__quote {
    padding: 0 1.875rem;
  }
  .call-center__content .content__text {
    max-width: 18.75rem;
    margin: 0 auto;
  }
}
@media (max-width: 24.5em){
  .button {
    font-size: 1.125rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 79.5em){
  @supports (gap: clamp( 1.25rem , -6.3685468831rem  +  15.8723860164vw , 6.25rem )) {
    ._grid-2-columns {
      gap: clamp( 1.25rem , -6.3685468831rem  +  15.8723860164vw , 6.25rem );
    }
  }
  @supports not (gap: clamp( 1.25rem , -6.3685468831rem  +  15.8723860164vw , 6.25rem )) {
    ._grid-2-columns {
      gap: calc(1.25rem + 5 * (100vw - 47.99875rem) / 31.50125);
    }
  }
}
@media (min-width: 47.99875em){
  ._grid-2-columns {
    grid-template-columns: repeat(2, 1fr);
  }
  .gradient-img_main-img::before {
    background-color: rgba(255, 255, 255, 0.374);
  }
  .hero__container {
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .hero__content {
    max-width: 37.5rem;
    margin: 0 auto;
  }
  .hero__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .hero__image img {
    -o-object-position: top;
       object-position: top;
  }
  .about-us__content {
    text-align: center;
  }
  .benefits__content {
    text-align: center;
  }
  .benefits__items {
    gap: 3.9375rem;
  }
  .testimonials__content {
    text-align: center;
  }
  .call-center__content {
    text-align: center;
    max-width: 50rem;
    margin: 0 auto;
  }
  .get-started__content {
    text-align: center;
  }
}
@media (min-width: 79.5em){
  ._grid-2-columns {
    gap: 6.25rem;
  }
}
@media (any-hover: hover){
  .call-us:hover .call-us__number {
    text-decoration: underline;
  }
  .button:hover {
    background-color: var(--hover-color);
  }
  .navigation__btn:hover {
    opacity: 0.5;
  }
}
