@import url(https://fonts.googleapis.com/css?family=Outfit:regular,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Figtree:500&display=swap);
@import url(https://fonts.googleapis.com/css?family=DM+Sans:700&display=swap);
:root {
  --primary-font: "Outfit";
  --primary-font-figtree: "Figtree";
  --primary-font-dm-sans: "DM Sans";
  --white: white;
  --white-light: #f4f9fc;
  --primary-text: #343434;
  --blue: #14457b;
  --secondary-blue: #1f5fff;
  --blue-light: #2490eb;
  --dark-blue: #000d44;
  --gray: #788094;
  --gray-dark: #222222;
  --green: #04ce78;
  --dark: #070707;
  --bg-dark-gray: #e4e4e4;
  --bg-light-gray: #f9f9f9;
  --bg-light-white: #f8f8f8;
  --bg-testimonial-card: #f5f7fa;
  --hoverButton: #067c49
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: var(--primary-text);
  line-height: 1.4;
  font-family: var(--primary-font);
  font-size: 1.0625rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button {
  font-family: var(--primary-font);
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
button {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 87.75rem;
  margin: 0 auto;
  padding: 0 3.25rem
}
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white);
  line-height: 1.2;
  background-color: var(--green);
  border-radius: .625rem;
  font-size: 1rem;
  padding: .75rem 1.5rem;
  transition: all .3s;
  font-weight: 500
}
.button_big {
  font-size: 1.5625rem;
  padding: 1.6875rem 3.4375rem
}
.ibg {
  position: relative
}
.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg_contain img {
  -o-object-fit: contain;
  object-fit: contain
}
._img-scale {
  overflow: hidden;
  will-change: transform
}
._img-scale img {
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s,-webkit-transform 1s
}
.page__hero:not(:last-child) {
  margin-bottom: 3.875rem
}
.page__about-us:not(:last-child) {
  margin-bottom: 9.375rem
}
.page__choose-us {
  margin-bottom: 2.875rem
}
.page__blog {
  margin-bottom: 8.5625rem
}
.page__testimonials {
  margin-bottom: 8.75rem
}
.title {
  color: var(--blue);
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -.0625rem
}
.title_big {
  letter-spacing: -.08125rem;
  font-weight: 600;
  line-height: 1.2
}
.title_middle {
  font-size: 2rem
}
.title_small {
  font-size: 1.375rem
}
.text p:not(:last-child) {
  margin-bottom: .625rem
}
.content-block {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  position: relative;
  z-index: 4
}
.content-block__wrapp {
  display: grid;
  gap: 1.875rem
}
.content-block__description_middle {
  font-size: 1.625rem
}
.content-block__button {
  margin-top: auto
}
.decors {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none
}
.decors__item {
  position: absolute
}
.decors__item img {
  max-width: 100%
}
.decors__item_green {
  top: 5%;
  right: 30%;
  width: 4.875rem;
  height: 4.875rem
}
.decors__item_green-left {
  bottom: 0;
  left: -6.25rem;
  width: 4.875rem;
  height: 4.875rem
}
.decors__item_green-fill {
  width: 3.1875rem;
  height: 3.1875rem;
  bottom: 6.25rem;
  right: 5%;
  z-index: 4
}
.decors__item_blue {
  width: 6.5625rem;
  height: 6.5625rem;
  right: -6.25rem;
  top: 20%
}
.decors__item_blue-fill {
  width: 3.1875rem;
  height: 3.1875rem;
  left: 56%;
  top: 25%
}
.hero {
  position: relative
}
.hero__container {
  position: relative;
  display: grid;
  align-items: center
}
.hero__content {
  position: relative;
  z-index: 5;
  padding-top: 1.875rem
}
.hero__image-mobile {
  display: none
}
.hero__image {
  position: relative;
  z-index: 3;
  align-self: end
}
.hero__image img {
  max-width: 120%
}
.hero__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -1
}
.about-us__container {
  display: grid;
  align-items: start;
  gap: 4.375rem
}
.about-us__images {
  display: flex;
  gap: 2.3125rem
}
.about-us__image-wrapp {
  position: relative
}
.about-us__image-wrapp_small {
  width: 54%;
  align-self: end
}
.about-us__image-wrapp_small::before {
  background-color: var(--blue-light);
  bottom: -1.25rem;
  right: -1.25rem;
  border-radius: 3.125rem 3.125rem 0 3.125rem;
  width: 52.0325203252%;
  height: 84.6715328467%
}
.about-us__image-wrapp_big {
  width: 86.252033%
}
.about-us__image-wrapp_big::after {
  top: -1.25rem;
  left: -1.25rem;
  width: 32.6530612245%;
  height: 30.8510638298%;
  border-radius: 0 3.125rem 3.125rem 3.125rem;
  background-color: var(--blue)
}
.about-us__image-wrapp::after,
.about-us__image-wrapp::before {
  content: "";
  position: absolute
}
.about-us__image {
  overflow: hidden;
  z-index: 2
}
.about-us__image_big {
  padding-bottom: 95.918206%;
  border-radius: 0 1.875rem 1.875rem 1.875rem
}
.about-us__image_small {
  padding-bottom: 55.918206%;
  position: relative;
  border-radius: 1.875rem 0 1.875rem 1.875rem
}
.about-us__content {
  align-self: flex-end
}
.about-us__content.content-block {
  gap: .625rem
}
.choose-us__title {
  text-align: center
}
.choose-us__title:not(:last-child) {
  margin-bottom: 2.625rem
}
.choose-us__list {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  align-items: start;
  row-gap: 2.5rem
}
.item-choose-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center
}
.item-choose-us_green .item-choose-us__image {
  border-color: var(--green)
}
.item-choose-us_green .item-choose-us__number {
  background-color: var(--green)
}
.item-choose-us_blue .item-choose-us__image {
  border-color: var(--secondary-blue)
}
.item-choose-us_blue .item-choose-us__number {
  background-color: var(--secondary-blue)
}
.item-choose-us__image-wrapp {
  position: relative
}
.item-choose-us__number {
  position: absolute;
  top: -.3125rem;
  right: 0;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 1.5625rem;
  font-weight: 700;
  font-family: var(--primary-font-dm-sans);
  z-index: 3
}
.item-choose-us__image {
  width: 12.3125rem;
  height: 12.3125rem;
  flex: 0 0 12.3125rem;
  border-radius: 50%;
  overflow: hidden;
  border-width: .1875rem;
  border-style: solid
}
.item-choose-us__image:not(:last-child) {
  margin-bottom: 1.6875rem
}
.item-choose-us__title {
  color: var(--dark-blue);
  font-size: 1.3125rem;
  font-weight: 600;
  line-height: 1.4
}
.item-choose-us__title:not(:last-child) {
  margin-bottom: .9375rem
}
.item-choose-us__text {
  line-height: 1.75;
  color: var(--gray)
}
.action .content-block {
  height: 100%
}
.action .content-block .content-block__text {
  font-size: 1.125rem;
  line-height: 1.4
}
.action .content-block .content-block__title.title {
  color: var(--white)
}
.action__cards {
  display: grid;
  gap: 1.5rem
}
.action__card {
  color: var(--white);
  padding: 2.5rem
}
.action__card_light-gray {
  background-color: var(--primary-text)
}
.action__card_dark-gray {
  background-color: var(--gray-dark)
}
.transition__content.content-block .content-block__text {
  font-size: 1.5rem
}
.transition__container {
  display: grid;
  align-items: center;
  gap: 3.125rem
}
.transition__images-wrapper {
  position: relative;
  margin-left: auto
}
.transition__image {
  overflow: hidden
}
.transition__image_big {
  padding-bottom: 66.392354%;
  position: relative;
  border-radius: 5rem 0 0 0
}
.transition__image_small {
  position: absolute;
  border-radius: 0 5rem 0 0;
  bottom: 0;
  width: 74%;
  padding-bottom: 41.072289%;
  -webkit-transform: translateY(40%);
  transform: translateY(40%);
  border: .625rem solid #fff
}
.blog {
  padding-top: 4.125rem;
  padding-bottom: 7.5rem;
  background-color: var(--bg-light-gray)
}
.blog__content {
  text-align: center
}
.blog__content:not(:last-child) {
  margin-bottom: 3.125rem
}
.blog__content.content-block {
  gap: .625rem
}
.blog__content.content-block .content-block__description {
  font-size: 1.625rem
}
.blog__list {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1.0625rem
}
.item-blog {
  display: flex;
  flex-direction: column;
  align-items: start
}
.item-blog__image {
  display: block;
  padding-bottom: 64.1826923077%
}
.item-blog__image:not(:last-child) {
  margin-bottom: 1.5rem
}
.item-blog__content {
  width: 100%;
  background-color: var(--white);
  padding: .9375rem .9375rem 3.75rem .9375rem;
  flex: 1 1 auto
}
.item-blog__title {
  display: inline-block;
  transition: color .3s;
  font-size: 1.0625rem;
  color: var(--dark-blue)
}
.item-blog__title:not(:last-child) {
  margin-bottom: 1.125rem
}
.item-blog__text {
  font-size: .75rem
}
.testimonials__content {
  text-align: center;
  font-size: 1.625rem;
  line-height: 1.27;
  max-width: 64.125rem;
  margin: 0 auto
}
.testimonials__content:not(:last-child) {
  margin-bottom: 2.9375rem
}
.testimonials__list {
  display: grid;
  gap: 1.5625rem
}
.testimonials__rating:not(:last-child) {
  margin-bottom: 2.5rem
}
.item-testimonials {
  border-radius: 1.25rem;
  background-color: var(--bg-testimonial-card);
  padding: 2.875rem 2.625rem 2rem 2.625rem;
  display: flex;
  flex-direction: column
}
.item-testimonials__body {
  flex: 1 1 auto
}
.item-testimonials__body:not(:last-child) {
  margin-bottom: 2.5rem
}
.item-testimonials__blockquote {
  color: var(--gray);
  line-height: 1.75
}
.item-testimonials__blockquote::before {
  content: '"'
}
.item-testimonials__blockquote::after {
  content: '"'
}
.item-testimonials__info {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem
}
.item-testimonials__info::after {
  content: "";
  flex: 0 0 3.75rem;
  width: 3.75rem;
  height: 3.75rem;
  background: url(../img/decors/quote.svg) 0 0/contain no-repeat
}
.rating {
  display: flex;
  align-items: center;
  gap: .3125rem
}
.rating__star {
  width: 1.25rem;
  height: 1.25rem
}
.rating__star img {
  max-width: 100%
}
.profile {
  display: flex;
  gap: .9375rem
}
.profile__avatar {
  width: 3.75rem;
  flex: 0 0 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  overflow: hidden
}
.profile__name {
  color: var(--dark-blue);
  font-size: 1.3125rem;
  font-weight: 600;
  line-height: 1.4
}
.first-step {
  position: relative;
  background-color: var(--bg-light-white)
}
.first-step__container {
  display: flex;
  flex-direction: column;
  justify-content: center
}
.first-step__content.content-block .content-block__title {
  font-size: 4.5rem
}
.first-step__content.content-block .content-block__description {
  font-size: 1.25rem
}
.first-step__content.content-block .content-block__label.title_middle {
  font-weight: 400;
  color: var(--dark)
}
.first-step__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0
}
.first-step__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top
}
.first-step__image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(270deg,rgba(244,249,252,0) 5.22%,#f4f9fc 59.86%);
  pointer-events: none;
  z-index: 3
}
@media (min-width:47.99875em) {
  .content-block__button {
    margin-right: auto
  }
  .about-us__container {
    grid-template-columns: 52% 1fr
  }
  .action__cards {
    grid-template-columns: repeat(2,1fr)
  }
  .testimonials__list {
    grid-template-columns: repeat(2,1fr)
  }
  .first-step__container {
    min-height: 47.5rem
  }
  .first-step__content {
    max-width: 32.8125rem
  }
  .first-step__content.content-block .content-block__button.button {
    padding: 1.25rem 2.5rem;
    font-size: 1.125rem
  }
  .first-step__image-mobile {
    display: none
  }
}
@media (min-width:61.99875em) {
  .hero__container {
    grid-template-columns: 46.1538461538% 1fr;
    min-height: 100vh;
    gap: 1.875rem
  }
  .hero__content {
    padding-bottom: 1.875rem
  }
  .transition__container {
    grid-template-columns: repeat(2,1fr)
  }
  .transition__button {
    margin-right: auto
  }
  .transition__images-wrapper {
    max-width: 30.8125rem
  }
}
@media (min-width:69.75em) {
  .item-choose-us:nth-child(odd) .item-choose-us__image-wrapp::before {
    background: url(../img/decors/arrow-down.svg) 0 0 no-repeat
  }
  .item-choose-us:nth-child(even):not(:last-child) .item-choose-us__image-wrapp::before {
    background: url(../img/decors/arrow-up.svg) 0 0 no-repeat
  }
  .item-choose-us__image-wrapp::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(100%,-50%);
    transform: translate(100%,-50%);
    width: 100%;
    height: 100%
  }
}
@media (min-width:87.75em) {
  .title_big {
    font-size: 6.1875rem
  }
  .content-block__description_big {
    font-size: 2.75rem
  }
  .choose-us__list {
    -webkit-column-gap: 7.5rem;
    -moz-column-gap: 7.5rem;
    column-gap: 7.5rem
  }
  .transition__image_small {
    left: -10.4375rem
  }
}
@media (max-width:69.6875em) {
  .choose-us__list {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .choose-us__list {
    grid-template-columns: repeat(2,1fr)
  }
}
@media (max-width:61.99875em) {
  .button_big {
    padding: .75rem 1.5rem;
    font-size: .875rem
  }
  .page__about-us:not(:last-child) {
    margin-bottom: 5.625rem
  }
  .page__blog:not(:last-child) {
    margin-bottom: 5.625rem
  }
  .page__testimonials:not(:last-child) {
    margin-bottom: 5.625rem
  }
  .title {
    font-size: 2.5rem
  }
  .decors__item_green {
    left: 1.5rem;
    top: 11.625rem;
    width: 2.0625rem;
    height: 2.0625rem
  }
  .decors__item_blue {
    right: 1.5rem;
    top: 11.625rem;
    width: 2.5625rem;
    height: 2.5625rem
  }
  .decors .decors__item_blue-fill,
  .decors .decors__item_green-fill,
  .decors .decors__item_green-left {
    display: none
  }
  .hero__content.content-block {
    align-items: center;
    justify-content: center
  }
  .hero__content.content-block .content-block__button {
    margin: 0 auto
  }
  .hero__image img {
    max-width: 100%
  }
  .hero__image {
    margin: 0 -5.3125rem
  }
  .about-us__container {
    gap: 1.875rem
  }
  .action .content-block .content-block__text {
    font-size: 1rem
  }
  .transition__content.content-block {
    justify-items: center;
    text-align: center;
    gap: 1.25rem
  }
  .transition__content.content-block .content-block__button {
    margin: 0 auto
  }
  .transition {
    text-align: center
  }
  .transition__image_big {
    width: 86%;
    padding-bottom: 58.392354%;
    margin-left: auto
  }
  .transition__image_small {
    width: 52%;
    padding-bottom: 35.072289%;
    border-width: .375rem;
    left: 0
  }
  .blog__list {
    grid-template-columns: repeat(2,1fr)
  }
  .item-blog__content {
    padding: 1.5625rem
  }
  .testimonials__rating:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .first-step__image img {
    -o-object-position: 62%;
    object-position: 62%
  }
}
@media (max-width:61.9375em) {
  .title_big {
    font-size: 4.5rem
  }
  .content-block__description_big {
    font-size: 1.375rem
  }
  .transition__image_small {
    left: .625rem
  }
}
@media (max-width:47.99875em) {
  .page__about-us:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .page__blog:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .page__testimonials:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .title_big {
    font-size: 2.8125rem
  }
  .content-block {
    justify-items: center;
    align-items: center;
    text-align: center;
    gap: 1.25rem
  }
  .content-block__wrapp {
    gap: 1.25rem
  }
  .content-block__description_middle {
    font-size: 1rem
  }
  .about-us__container {
    gap: 3.125rem
  }
  .about-us__images {
    gap: .9375rem
  }
  .about-us__image-wrapp_small::before {
    width: 52.03252%;
    height: 49.671533%;
    bottom: -.625rem;
    right: -.625rem
  }
  .about-us__image-wrapp_big::after {
    top: -.625rem;
    left: -.625rem
  }
  .about-us__image_big {
    border-radius: 0 .9375rem .9375rem .9375rem
  }
  .about-us__image_small {
    padding-bottom: 94.918206%;
    border-radius: .9375rem 0 .9375rem .9375rem
  }
  .action .content-block {
    text-align: left
  }
  .action .content-block .content-block__button {
    margin-right: auto
  }
  .transition__container {
    gap: 1.5rem
  }
  .transition__image_big {
    border-radius: 3.125rem 0 0 0
  }
  .transition__image_small {
    border-radius: 0 3.125rem 0 0
  }
  .blog {
    padding-top: .9375rem;
    padding-bottom: 2.5rem
  }
  .blog__content {
    text-align: center
  }
  .blog__content:not(:last-child) {
    margin-bottom: 1.5rem
  }
  .testimonials__content:not(:last-child) {
    margin-bottom: 1.5rem
  }
  .item-testimonials {
    padding: 1.25rem
  }
  .first-step__container {
    justify-content: end;
    flex-direction: column-reverse
  }
  .first-step__content.content-block {
    padding-bottom: 2.5rem
  }
  .first-step__content.content-block .content-block__title {
    font-size: 1.625rem
  }
  .first-step__content.content-block .content-block__description {
    font-size: 1rem
  }
  .first-step__content.content-block .content-block__label.title_middle {
    font-size: 1.125rem
  }
  .first-step__image-mobile {
    margin: 0 -1.875rem;
    position: relative
  }
  .first-step__image-mobile::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(0deg,#f8f8f8 2.59%,rgba(248,248,248,.5) 24.02%,rgba(248,248,248,0) 100%)
  }
  .first-step__image-mobile img {
    width: 100%
  }
  .first-step__image {
    display: none
  }
}
@media (max-width:37.5em) {
  .choose-us__list {
    grid-template-columns: auto
  }
  .blog__list {
    grid-template-columns: repeat(1,1fr)
  }
}
@media (max-width:29.99875em) {
  .button {
    font-size: .75rem;
    padding: .625rem 1.25rem
  }
  .title {
    font-size: 1.5rem
  }
  .title_big {
    font-size: 2rem
  }
  .content-block__description_big {
    font-size: 1rem
  }
  .item-choose-us__title {
    font-size: 1.5625rem
  }
  .item-choose-us__text {
    font-size: 1.1875rem
  }
  .action .content-block .content-block__title.title_middle {
    font-size: 1.25rem
  }
  .action .content-block .content-block__text {
    font-size: .875rem
  }
  .action__card {
    padding: 1.5rem 1.25rem
  }
  .transition__content.content-block .content-block__text {
    font-size: 1rem
  }
  .blog__content.content-block .content-block__description {
    font-size: .875rem
  }
  .item-blog__content {
    padding: 1rem 1rem 2rem 1rem
  }
  .item-blog__title {
    font-size: .9375rem
  }
  .testimonials__content.content-block {
    gap: .9375rem
  }
  .testimonials__content.content-block .content-block__description {
    font-size: .875rem
  }
  .item-testimonials__body:not(:last-child) {
    margin-bottom: 1rem
  }
  .item-testimonials__blockquote {
    font-size: .75rem
  }
  .item-testimonials__info::after {
    flex: 0 0 2.5rem;
    width: 2.5rem;
    height: 2.5rem
  }
  .profile {
    gap: .4375rem
  }
  .profile__avatar {
    width: 2.5rem;
    flex: 0 0 2.5rem;
    height: 2.5rem
  }
  .profile__name {
    font-size: .875rem
  }
}
@media (min-width:61.9375em) and (max-width:87.75em) {
  @supports (font-size:clamp(4.5rem ,0.4508171913rem + 6.5375302663vw ,6.1875rem)) {
    .title_big {
      font-size: clamp(4.5rem ,.4508171913rem + 6.5375302663vw ,6.1875rem)
    }
  }
  @supports not (font-size:clamp(4.5rem ,0.4508171913rem + 6.5375302663vw ,6.1875rem)) {
    .title_big {
      font-size: calc(4.5rem + 1.6875 * (100vw - 61.9375rem)/ 25.8125)
    }
  }
  @supports (font-size:clamp(1.375rem ,-1.9243341404rem + 5.3268765133vw ,2.75rem)) {
    .content-block__description_big {
      font-size: clamp(1.375rem ,-1.9243341404rem + 5.3268765133vw ,2.75rem)
    }
  }
  @supports not (font-size:clamp(1.375rem ,-1.9243341404rem + 5.3268765133vw ,2.75rem)) {
    .content-block__description_big {
      font-size: calc(1.375rem + 1.375 * (100vw - 61.9375rem)/ 25.8125)
    }
  }
  @supports (left:clamp(-10.4375rem ,27.1696428571rem + -42.8571428571vw ,0.625rem)) {
    .transition__image_small {
      left: clamp(-10.4375rem ,27.1696428571rem + -42.8571428571vw ,.625rem)
    }
  }
  @supports not (left:clamp(-10.4375rem ,27.1696428571rem + -42.8571428571vw ,0.625rem)) {
    .transition__image_small {
      left: calc(.625rem + -11.0625 * (100vw - 61.9375rem)/ 25.8125)
    }
  }
}
@media (min-width:69.6875em) and (max-width:87.75em) {
  @supports ((-moz-column-gap:clamp(1.25rem ,-22.8633217993rem + 34.6020761246vw ,7.5rem)) or (column-gap:clamp(1.25rem ,-22.8633217993rem + 34.6020761246vw ,7.5rem))) {
    .choose-us__list {
      -webkit-column-gap: clamp(1.25rem ,-22.8633217993rem + 34.6020761246vw ,7.5rem);
      -moz-column-gap: clamp(1.25rem ,-22.8633217993rem + 34.6020761246vw ,7.5rem);
      column-gap: clamp(1.25rem ,-22.8633217993rem + 34.6020761246vw ,7.5rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.25rem ,-22.8633217993rem + 34.6020761246vw ,7.5rem)) or (column-gap:clamp(1.25rem ,-22.8633217993rem + 34.6020761246vw ,7.5rem))) {
    .choose-us__list {
      -webkit-column-gap: calc(1.25rem + 6.25 * (100vw - 69.6875rem)/ 18.0625);
      -moz-column-gap: calc(1.25rem + 6.25 * (100vw - 69.6875rem)/ 18.0625);
      column-gap: calc(1.25rem + 6.25 * (100vw - 69.6875rem)/ 18.0625)
    }
  }
}
@media (any-hover:hover) {
  .button:hover {
    background-color: var(--hoverButton)
  }
  ._img-scale:hover img {
    -webkit-transform: scale(1.005);
    transform: scale(1.005)
  }
  .item-blog__title:hover {
    color: var(--hoverButton)
  }
}